[2015-09-08 03:26] krolow opened #2 "File nomenclature keep one standard"
So far we are using different standards to give the name for files for example:

**actions**
- [databases.js](https://github.com/sqlectron/sqlectron/blob/47e3074d6f830ccd3544a864b99e372a9bf7a1a4/src/actions/databases.js)

**constants**
- [ActionTypes](https://github.com/sqlectron/sqlectron/blob/47e3074d6f830ccd3544a864b99e372a9bf7a1a4/src/constants/ActionTypes.js)

etc..

Some files start in **Upp

[2015-09-08 03:35] krolow commented on #2
To answer as well, and give my insight, i'd say for use use:

use ```"my-file.js"``` and use suffix ```"database-reducer.js"```...

For the usage of **"-"** i do not have one reason only because its the most common in use when we talk about unix style...

For the usage of **suffix** i'd say it would be good when we are in or editor/ide to filter the files that we want to open like in atom, sublime

[2015-09-08 15:16] maxcnunes commented on #2
I have seen many open source projects nowadays with react using camel case for filenames. But I personally don't like it. I prefer using the unix style for any filename.

Related to suffix I think they are redundant since the folder name already has the suffix value. You can still use the fuzzy search from sublime and atom to find the file. Just have to include in the search the folder name and fi

[2015-09-08 15:24] esnunes commented on #2
I like option B `my-file.jsx` using lowercase only. I agree with Max regarding the usage of folder name to identify a section. However, as Max mentioned, in case you prefer using the suffix I have no problems with that.

[2015-09-08 15:26] krolow commented on #2
for me no problem at all to not have the suffix too, it's just personal preference for usage in (rails, cakephp), but lets keep one standard of not use than...

[2015-09-10 17:21] #2 closed

[2015-09-17 12:14] maxcnunes opened #12 "First realease"
I think for the first release we need to achieve these goals:
- [x] Use awesome libs and frameworks (Electron, React, Redux, React-Router, Webpack, ...)
- [x] Manage connections (initial page)
- [x] SSH connections
- [x] Execute SQL query
- [x] Syntax highlight
- [x] Shortcuts
- [x] Filter databases and tables (search box in the sidebar)
- [x] Change connected database clicking over any database i

[2015-11-10 00:28] maxcnunes opened #24 "Show for each database in the sidebar all the elements available such as views, procs, and etc"

[2015-11-10 00:29] maxcnunes opened #25 "Export results to CSV and JSON file"

[2015-11-10 00:29] maxcnunes opened #26 "Tabs for execute multiple queries"

[2015-11-10 00:29] maxcnunes opened #27 "Paging result data"

[2015-11-10 00:29] maxcnunes opened #28 "Security queries (require where or limit)"

[2015-11-10 00:30] maxcnunes opened #29 "Edit queries clicking over the row"

[2015-11-10 00:30] maxcnunes opened #30 "Execute multiple queries"

[2015-11-10 00:31] maxcnunes opened #31 "Save password in keychain (OSX)"

[2015-11-10 02:35] #12 closed

[2015-11-10 11:49] maxcnunes opened #32 "Allow connect to databases with no credentials"

[2015-11-11 11:02] maxcnunes opened #33 "Footer is over sidebar nav"
![screen shot 2015-11-11 at 9 01 39 am](https://cloud.githubusercontent.com/assets/680356/11089686/dd0f7fa4-8852-11e5-8296-429cb065ab89.png)

[2015-11-11 23:17] #32 closed

[2015-11-11 23:18] maxcnunes commented on #32
Actually is with no password. At least the username is required.

[2015-11-11 23:24] #33 closed

[2015-11-12 18:01] maxcnunes opened #34 "Use a file input element to select the private key"

[2015-11-13 10:07] maxcnunes opened #35 "Query result disappears when I start typing a new query"

[2015-11-13 10:08] maxcnunes opened #36 "Add short key (Command+Enter) to execute the query"

[2015-11-13 15:22] maxcnunes opened #37 "Discard button is not working"

[2015-11-14 20:55] maxcnunes commented on #37
Fixed by https://github.com/sqlectron/sqlectron-gui/commit/8bc5a2d8c58b875d62576d437f233ad680da9d5f

[2015-11-14 20:56] #37 closed

[2015-11-14 21:04] maxcnunes commented on #36
Actually I changed to use `CmdOrCtrl+Enter` instead of keep the previous `CmdOrCtrl+E`.

[2015-11-14 21:04] maxcnunes commented on #36
Fixed by https://github.com/sqlectron/sqlectron-gui/commit/66004231ccfe5e240ee428a63c7c2539bc257d76

[2015-11-14 21:04] #36 closed

[2015-11-14 23:15] maxcnunes commented on #35
Fixed on https://github.com/sqlectron/sqlectron-gui/commit/c98c32b0d35cd70cd927b1d7527540ac4d3fb62b

[2015-11-14 23:15] #35 closed

[2015-11-14 23:19] krolow commented on #35
@maxcnunes you can use this https://help.github.com/articles/closing-issues-via-commit-messages/ in future commits...

[2015-11-14 23:25] maxcnunes commented on #35
awesome :+1:

[2015-11-15 00:57] #34 closed

[2015-11-15 01:00] maxcnunes opened #38 "Make configurable through .sqlectron.json the field default limit used in the select top"
Use the field name `limitQueryDefaultSelectTop`.

[2015-11-15 01:05] maxcnunes opened #39 "Make the server list a bit prettier when using long server names and hosts"
Nowadays each box gets a different height and it is a bit ugly.

[2015-11-15 01:06] maxcnunes opened #40 "App auto update"
Would be awesome :) But low priority for this one.

[2015-11-15 19:33] maxcnunes commented on #38
Fixed on https://github.com/sqlectron/sqlectron-gui/commit/640c498f12f0e25f6352feb3699835907240c75f

[2015-11-15 19:33] #38 closed

[2015-11-15 21:09] maxcnunes opened #41 "Change all external assets to be local dependencies"
In case some user does not have access to the internet. The interface  should not be broken because is missing load some external assets.

[2015-11-15 21:30] maxcnunes commented on #39
Commits
- https://github.com/sqlectron/sqlectron-gui/commit/7893469465978845692890562b212f7696426a34
- https://github.com/sqlectron/sqlectron-gui/commit/1239515d493c1bb1f4e50110f077857dd3f90ddd
- https://github.com/sqlectron/sqlectron-gui/commit/6c8b4cde01df76f83662ecb8e13cb6cc6b55493a

[2015-11-15 21:30] #39 closed

[2015-11-16 21:04] maxcnunes opened #42 "Add an icon of the current connected DB client somewhere in the query-browser page"
This way we know which are the current DB client and which SQL language we can use.

[2015-11-17 00:50] maxcnunes opened #43 "Loader stay forever when filtering in the sidebar a database that does not exists"

[2015-11-17 18:01] brunolm opened #44 "Cannot delete records"
When running

[code]

I get the error:

[code]

[2015-11-18 02:02] #41 closed

[2015-11-18 02:43] #44 closed

[2015-11-18 02:43] maxcnunes opened #45 "Show a loader while executing a query"

[2015-11-18 12:23] maxcnunes opened #46 "Allow resize the query box or go full screen"

[2015-11-18 12:44] maxcnunes opened #47 "Allow execute only the selected query"
I may have many queries inside the query box. But I would like to execute only one of them in case I have a query selected (highlighted).

[2015-11-18 16:08] maxcnunes opened #48 "Scroll to top when double clicking into a table name"

[2015-11-18 22:20] #45 closed

[2015-11-19 00:47] #46 closed

[2015-11-19 02:11] maxcnunes commented on #42
Closed on https://github.com/sqlectron/sqlectron-gui/commit/f0284a92ec484da1d8ec0dd37b3271c40493d8fd

[2015-11-19 02:11] #42 closed

[2015-11-19 10:05] maxcnunes opened #49 "Restore the search db name after connecting to a new db"

[2015-11-19 10:38] maxcnunes opened #50 "Is returning the default select query after I have executed a an update query"

[2015-11-19 22:32] #49 closed

[2015-11-19 23:19] maxcnunes commented on #50
I tried to reproduce it again today and I couldn't. So I'm closing this issue.

[2015-11-19 23:19] #50 closed

[2015-11-20 13:19] maxcnunes opened #51 "Add horizontal scroll in the query result"

[2015-11-22 11:23] #51 closed

[2015-11-22 18:52] #30 closed

[2015-11-23 17:11] maxcnunes opened #52 "Change focus to the query box on clicking twice in the table (sidebar)"

[2015-11-25 01:44] maxcnunes opened #53 "Have different menu for each platform"

[2015-11-28 21:22] #53 closed

[2015-11-29 18:05] maxcnunes opened #54 "Quit from menu is not working (windows and probably linux as well)"

[2015-11-30 21:37] krolow commented on #54
i'll give a test here in linux

[2015-11-30 22:42] krolow commented on #54
yeah its not working in linux i'll attempt to fix it here

[2015-11-30 23:29] maxcnunes commented on #54
Fixed for windows too f677b9d51244c2b4193889b11eed21f3570747c0

[2015-11-30 23:29] #54 closed

[2015-12-03 16:45] maxcnunes opened #58 "Add button to reconnect"
In case the connection is lost would be good have a button to try reconnect again.

[2015-12-03 16:59] maxcnunes opened #59 "Possible memory leak in the update checker"
![screen shot 2015-12-03 at 2 58 43 pm](https://cloud.githubusercontent.com/assets/680356/11567499/6b3a8404-99ce-11e5-935f-9548a1b39664.png)

[2015-12-07 10:53] RaffaeleT opened #60 "Long table names exceed left pane width"
A minor aesthetic flaw.
eg "account_analytic_analysis_summary_month"  exceeds over the boundary of the left pane.
Left pane should have resizable width.

[2015-12-08 12:06] maxcnunes opened #61 "Improve performance for large results"
Most of the problem with large results is during the rendering process. I  guess something like these options could help:
* https://github.com/loktar00/react-lazy-load
* https://github.com/nmn/react-infinity

[2015-12-08 18:58] maxcnunes opened #62 "Problem executing multiple update queries"
I tried to execute multiple update queries and seems it get stuck in the render task.

[2015-12-08 19:34] maxcnunes opened #63 "Problem rendering result of delete query"
The delete works. But get stuck during the render of the result.

[2015-12-09 15:42] maxcnunes opened #64 "Copy query result to clipboard"

[2015-12-09 16:29] maxcnunes opened #65 "Use fixed left panel"
Do not scroll with the right panel.

[2015-12-10 02:18] maxcnunes commented on #63
Fixed on commit 7f76a71bb144f027dafe90619a42cb66ce01e92c

[2015-12-10 02:18] #63 closed

[2015-12-10 02:19] maxcnunes commented on #62
Fixed on commit 7f76a71bb144f027dafe90619a42cb66ce01e92c

[2015-12-10 02:19] #62 closed

[2015-12-10 23:50] maxcnunes commented on #60
Fixed on commits: faa6f99a6140c992a145dc6c5d27adae8d7b6239 and faa6f99a6140c992a145dc6c5d27adae8d7b6239

[2015-12-10 23:50] #60 closed

[2015-12-13 00:38] #64 closed

[2015-12-13 01:32] #48 closed

[2015-12-14 12:05] JostCrow opened #66 "Close non selected database"
Now when I switch database inside the postgres database then the old one still shows all the columns a good idea would be to not show the columns of the non selected database.

[2015-12-14 15:44] luisrudge opened #67 "dropdown menu to select the database client is broken"
![select db](https://cloud.githubusercontent.com/assets/941075/11785384/b8d27ad0-a268-11e5-8be7-244b9b5ba82c.gif)

[2015-12-14 16:21] maxcnunes commented on #67
It is happening here too :(
I can take a look on this later today.

[2015-12-14 17:38] saitolabs opened #68 "Add a "test connection" button"
Would be nice to have a way to test the connection right on the "Server information" dialog.

[2015-12-14 17:43] saitolabs opened #69 "Server address text exceeding bounding box"
Server address text exceeding bounding box
Screenshot:

![text_exceeding_div_limits](https://cloud.githubusercontent.com/assets/1012457/11788609/12539e1c-a279-11e5-8188-7fc4a4c78086.png)

[2015-12-14 17:46] saitolabs opened #70 "Insufficient error details"
There's a way to add more information about the error?

![error_not_so_descritive](https://cloud.githubusercontent.com/assets/1012457/11788754/c1fba210-a279-11e5-9c17-37e11e0dc4f9.png)

[2015-12-14 18:15] maxcnunes commented on #70
I can take a look on this to see if is possible.

By the way I think your problem is in the address. Although is possible use this address format in SQL Server Management Studio, in Sqlectron you need to use IP+Port.
![screen shot 2015-12-14 at 4 09 19 pm](https://cloud.githubusercontent.com/assets/680356/11789359/19f2722a-a27d-11e5-9c2e-f9e21fadef79.png)

To connect through IP+Port I also had to

[2015-12-14 18:50] saitolabs commented on #70
Thanks, now I'm able to connect :+1:

[2015-12-14 18:53] saitolabs opened #71 "Error: MSSQL - Cannot Read Property Rowcount of Undefined"
Why that message when I try to execute this select statement?

![cannot_read_property_rowcount_of_undefined](https://cloud.githubusercontent.com/assets/1012457/11790427/e179d086-a282-11e5-99ff-f0a145ce479f.png)

[2015-12-14 19:07] maxcnunes commented on #71
Does this problem occurs without the brackets? By the way, what is the reason of the brackets, I guess I have never seen brackets in a SQL query before :smile: .

[2015-12-14 19:34] saitolabs commented on #71
This problem still occurs without the brackets :(

I just did double clicked the table name. After that, the select statement appeared.
Btw it's a common practice to use brackets, maybe because Microsoft SQL Server Management Studio use brackets as default.

[2015-12-14 21:25] #67 closed

[2015-12-14 22:38] #69 closed

[2015-12-14 22:51] maxcnunes commented on #66
When you say "columns" you mean "tables" right?
Well, this is an expected behaviour. Since I usually work with micro services is pretty common I have to go over different databases to fetch the final data. If you don't want go get distracted by the other databases maybe you could just filter in the search box by the current selected database. Ok?

[2015-12-14 22:55] maxcnunes commented on #68
Yeah, that is a good idea :+1:

[2015-12-15 00:48] #71 closed

[2015-12-15 18:06] corbanb opened #72 "SSL Mode"
Currently there seems to be no way to connect to a heroku postgres db due to ssl mode. I tried adding the query param `?sslmode=require` to the url but no luck. Any thoughts on how this might be accomplished?

[2015-12-15 19:28] maxcnunes commented on #72
Humm. We are not setting the ssl attribute ([current configuration](https://github.com/sqlectron/sqlectron-core/blob/master/src/db/clients/postgresql.js#L173) and [example postgresql with ssl](https://github.com/brianc/node-postgres/blob/35e5567f86774f808c2a8518dd312b8aa3586693/test/integration/client/heroku-ssl-tests.js#L15)) to the db connection configuration.

We gonna need a new button in the

[2015-12-15 20:38] #72 closed

[2015-12-17 19:13] bwiggs opened #73 "Homebrew Cask"
Would be great to be able to install this via homebrew cask.

[2015-12-17 19:20] bwiggs opened #74 "Mac - Get back to main window after closing"
1. Open SQLectron
2. Click red button to close the main window
3. Notice window can't be reopened
4. Quit and restart sqlectron to get back to main window

[2015-12-17 19:23] bwiggs opened #75 "Database Client Dropdown - Styling Broken"
Looks like there should be some kind of select dropdown UI, but it's just a white area.

![sqlectron-add-db](https://cloud.githubusercontent.com/assets/7358/11879490/4765434a-a4c1-11e5-9263-5288c20900c4.gif)

[2015-12-17 19:24] bwiggs commented on #75
Looks like this will be fixed in the next version according to #67

[2015-12-17 19:24] #75 closed

[2015-12-17 20:18] maxcnunes commented on #73
Yeah. That is really helpful. I will do it later today.

[2015-12-17 20:21] maxcnunes commented on #74
Somehow the app still open on clicking in the close button. Although using `Command+Q` it closes properly.

[2015-12-17 20:31] #74 closed

[2015-12-18 10:21] maxcnunes commented on #73
Hi @bwiggs. I think after a `brew update` you gonna be able to install the Sqlectron through the brew cask. Let me know if something goes wrong.

[2015-12-18 10:21] #73 closed

[2015-12-18 18:51] maxcnunes opened #76 "When the query result does not have affected rows it shows "null""
For `TRUNCATE` query it is showing:
[code]
I think for these cases should just ignore the `Affected rows`.

[2015-12-18 22:57] #76 closed

[2015-12-18 23:18] #52 closed

[2015-12-23 12:38] andywenk opened #77 "No response from configure window using MySQL 5.7.10"
I am trying to connect to a local MySQL database (Version: '5.7.10'  socket: '/tmp/mysql.sock'  port: 3306  Homebrew). When opening the configuration view I added everything needed (see screenshot)

<img width="1031" alt="screen shot 2015-12-23 at 13 35 47" src="https://cloud.githubusercontent.com/assets/51517/11976608/19816d56-a97a-11e5-80ed-68e0fdbb210f.png">

when clicking the "Save" button not

[2015-12-23 13:07] JostCrow commented on #66
Ok. Thanks. Sorry for the late response.

[2015-12-23 13:07] #66 closed

[2015-12-23 16:53] maxcnunes commented on #77
That is weird. The connection is working here.
[code]
Although I really can't create a new server connection if I don't check the SSL option.
This way works:
![screen shot 2015-12-23 at 2 46 26 pm](https://cloud.githubusercontent.com/assets/680356/11980750/3ac75a02-a984-11e5-9c22-38022d4d2a7d.png)

What is weirder is that after creating the server connection with SSL enabled I'm able to edit it to

[2015-12-24 20:25] jasonCodesAway opened #78 "Fails to launch on fresh install Windows 10"
Most recent version (Sqlectron-win32-x64.zip version 1.2.0) crashes on trying to start it up. There was no visible error, it just wouldn't start after being installed. I managed to find this crash folder (zipped & attached here).
[Sqlectron Crashes.zip](https://github.com/sqlectron/sqlectron-gui/files/71913/Sqlectron.Crashes.zip)

[2015-12-25 11:43] #77 closed

[2015-12-25 12:12] maxcnunes commented on #78
I have just tested on Windows 8 and it is working. I can take a look on that using Windows 10 only after 01/04. When I get back to my place where there is a much better internet to download a VM with Windows 10. :sob:
By the way, have you tried running it with Windows 8 compatibility? It might work. :pray:

[2015-12-25 20:37] jasonCodesAway commented on #78
Nice suggestion on compatibility mode, I should've tried that. I just tried it though and I was hopeful but alas it didn't change the behavior :(

[2015-12-25 23:07] andywenk commented on #77
ok I'll grab master and build it to see if it's working ;-) Thanks

[2015-12-27 12:11] #61 closed

[2016-01-06 13:11] maxcnunes opened #79 "Allow save server without database password"

[2016-01-13 12:06] maxcnunes opened #80 "Sometime the query get stuck and does not execute new queries"

[2016-01-13 22:13] maxcnunes commented on #78
I guess was a problem during the build for windows. I have released a new version  https://github.com/sqlectron/sqlectron-gui/releases/tag/v1.3.0 and its working on my VM with windows 10. Please @jasonCodesAway, could you check it out?

[2016-01-17 22:01] maxcnunes opened #81 "Connection is shared over different windows"
In this fixing (307027578cf2e8ca434ee25a6e15bf50e9a44c67) was found another bug related. The app does not handle multiple connections over different windows. The same connection is shared over
every widow. So connection into a different DB in the first opened windows will actually change the connected DB for every window.

To fix this will be necessary the way sqlectron-core work with connection.

[2016-01-17 22:02] maxcnunes commented on #78
Closing it now. Let me know if you find any problem.

[2016-01-17 22:02] #78 closed

[2016-01-18 13:19] jasonCodesAway commented on #78
Sorry I was on back-to-back business trips. It works!!! Thank you :)

[2016-01-19 17:26] maxcnunes opened #82 "Add option to collapse list of tables for a database"

[2016-01-20 10:40] maxcnunes opened #83 "Improve handling for closed connetions"
Do not show this alert below. Instead move to the main page e show the error in the message box.
![pasted_image_at_2016_01_20_08_23_am](https://cloud.githubusercontent.com/assets/680356/12446480/69111b22-bf51-11e5-9c8f-dd341af65f12.png)

[2016-01-21 13:17] camilalabes opened #84 "If I try execute a empty or a commented query , I receive a message "Query executed successfully. Affected rows: .""
Mesmo sem nenhuma query escrita ao dar ctrl+enter, aparece uma mensagem dizendo que a query foi executada e que linhas foram afetadas.

Se eu tenho duas queries escritas, por ex, dois deletes, porém, um está comentado (para não ser executado), aparecem duas mensagens dizendo que as duas queries foram executadas (deu medo quando isso aconteceu, achei que tinha excluído coisa que não queria).

PS.:

[2016-01-23 15:22] #82 closed

[2016-01-23 15:24] maxcnunes commented on #79
My mistake. It already works.

[2016-01-23 15:24] #79 closed

[2016-01-23 15:28] maxcnunes commented on #27
It has already been implemented in 78d1e50e32b575bc68019e24a1a141d0361b9c91

[2016-01-23 15:28] #27 closed

[2016-01-23 15:30] maxcnunes commented on #29
The idea of this client is keep it the most simple possible. So I guess we will not implement it.

[2016-01-23 15:30] #29 closed

[2016-01-23 16:37] #81 closed

[2016-01-23 16:38] maxcnunes opened #85 "Duplicate server configuration"

[2016-01-23 19:53] #68 closed

[2016-01-23 20:52] #85 closed

[2016-01-23 22:38] #58 closed

[2016-01-24 00:22] #83 closed

[2016-01-24 00:26] maxcnunes commented on #70
I have improved the error handling during the connection. So, I guess we can close it.

[2016-01-24 00:26] #70 closed

[2016-01-24 00:27] maxcnunes commented on #59
I have not seen it anymore. Closing it while does not happen again.

[2016-01-24 00:27] #59 closed

[2016-01-25 01:43] maxcnunes commented on #47
We could use regex to identify the current selected query. But it could get a bit trick for some cases.
Actually the best solution would be using a SQL tokenizer. But seems there isn't any really good in node.
So I'm closing this issue, at least for now.

[2016-01-25 01:43] #47 closed

[2016-01-25 01:46] maxcnunes commented on #31
I don't really care that much saving my DB passwords in plain text. If someone else is interested implementing it, please let me know.

[2016-01-25 01:46] #31 closed

[2016-01-25 01:47] maxcnunes commented on #40
Nobody has asked it. And the current solution seems is working fine. So I'm closing it for now.

[2016-01-25 01:47] #40 closed

[2016-01-26 01:04] #80 closed

[2016-01-31 00:04] maxcnunes commented on #84
Fixed the first issue.

I have fixed the second one for PG and MSSQL. But MySQL considers a commented query as a non select query. Since is not possible without hacks to figure it out, this problem will continue to happen for MySQL.

Though to cause less confusion I will include a FAQ window listing the particularities of each client.

Related commit: 719f47096aaa32414dd4572f85396e05a83dce6b

[2016-01-31 00:04] #84 closed

[2016-01-31 00:05] maxcnunes opened #86 "Add "FAQ" window listing the particularities of each client"

[2016-01-31 10:51] maxcnunes commented on #28
We could achieve this feature through RegExp. But this could be extremely fragile for more complex queries. The better option would be using a SQL parser like this one https://github.com/dsferruzza/simpleSqlParser. But any SQL parser for Node still missing a lot of development to be consider reliable. So, while we don't have a reliable SQL parser available this feature will not be implemented.

[2016-01-31 10:52] maxcnunes commented on #26
Already implemented in https://github.com/sqlectron/sqlectron-gui/commit/1be65a4fe636422bf03869c5460756332e8819d9.

[2016-01-31 10:52] #26 closed

[2016-02-01 00:57] #65 closed

[2016-02-01 00:57] #86 closed

[2016-02-01 10:25] maxcnunes opened #87 "Allow cancel a query while it is loading"

[2016-02-02 00:06] maxcnunes commented on #87
I tried to implement it. But after the query result has started to rendering by react is not possible to cancel the rendering. So I will close it while I don't have a better idea an time to implement it.

[2016-02-02 00:06] #87 closed

[2016-02-02 00:07] maxcnunes commented on #24
Since the idea is keep it simple. I guess we don't really need it :)

[2016-02-02 00:07] #24 closed

[2016-02-02 00:08] maxcnunes commented on #25
Already is possible to copy the values to the clipboard. And since nobody has asked this feature I will close it.

[2016-02-02 00:08] #25 closed

[2016-02-02 00:08] #28 closed

[2016-02-10 12:37] brunolm opened #88 "Running the same query twice doesn't run it again"
If I run a query once, then in an external application add a new entry on the database, then go back and run the exact same query it does not update (doesn't show new data)

[2016-02-10 12:37] brunolm opened #89 "Middle mouse click doesn't close a tab"
When I click on a tab with the middle button it doesn't close.

[2016-02-10 12:38] brunolm opened #90 "Doesn't show value for boolean columns"
I have a boolean column, I know for sure that the value is `true` but it doesn't show me that, instead the column is empty.

[2016-03-04 16:59] maxcnunes opened #95 "Filter in the server list is not working"

[2016-03-04 22:53] #90 closed

[2016-03-04 23:17] #95 closed

[2016-03-04 23:32] maxcnunes commented on #89
The lib we use to build the tabs (https://github.com/reactjs/react-tabs) does not support the event **onMouseUp**, required to handle "custom" mouse events. So would be required create a pull request to react-tabs including that event before implementing it here. I don't have much interest implementing it because I don't really use it that much. But I would gladly accept a pull request with this f

[2016-03-04 23:42] maxcnunes commented on #88
It was initially a feature to prevent the user executing the same query repeatedly. To avoid unnecessary calls. But it was a bad idea. I will change it.

[2016-03-04 23:42] #88 closed

[2016-03-15 17:24] darkwisperer opened #96 "UI: Add connection requires DB when making a connection"
DB client: MSSQL, Mysql
App version: 1.5.0
OS: Win 7

For both MSSQL and MySQL (not familiar with Postgress), when adding a connection the DB field should be optional since the database is not required to make the connection. I'm not sure if this is doable with the [mssql](https://www.npmjs.com/package/mssql) package. I could not find in their README what parameters were mandatory and which were o

[2016-03-15 17:43] darkwisperer opened #97 "Lost window when trying to connect to a DB with bad credentials"
Client: MSSQL
APP version: 1.5.0
OS: Win7

While connected to a sql server, if you try to connect to a DB (from the left hand area) that your user does not have access to, you will be dropped out to the main screen and told that it was unable to connect.

Suggested handling of this: Instead of losing the entire window it should gracefully tell the user about the failed login.  Maybe flash red or h

[2016-03-15 19:34] krolow commented on #96
@darkwisperer nice catch PR are welcome :smile:

[2016-03-15 20:02] darkwisperer commented on #96
@krolow I will work on it.

[2016-03-16 03:27] krolow commented on #96
thx @darkwisperer ;)

[2016-03-17 21:00] maxcnunes commented on #97
Good catch!

I don't have much time to fix it right now. If you could send a pull request I would gladly accept it :smile:

[2016-03-17 21:14] darkwisperer commented on #97
If it is still open after I work on the other tickets I have agreed to I will :)

[2016-03-17 22:04] darkwisperer opened #98 "UI: View stored procedures in DB menu"
Enhancement Request:
Ability to view a list of stored procedures from the left hand  DB menu probably similar styling to the DB name just in its list. Similar to how its done in MSSQL management studio
![MSSQL management studio](http://i.stack.imgur.com/ijmaf.png)
, there would be a collapsed list that would have the results from
`select *  from information_schema.routines  where routine_type = 'P

[2016-03-18 17:48] darkwisperer commented on #96
According to [stackoverflow](http://stackoverflow.com/questions/4483139/how-do-i-connect-to-postgresql-without-specifying-a-database-name) PostgreSQL must have a "maintenance database" defined for connection. so this change will only affect MySQL and MS-SQL at this time.

It was easy to turn off the error  about missing DB and be able to successfully test a connection by editing 'src/renderer/comp

[2016-03-18 19:59] maxcnunes commented on #96
@darkwisperer Since the database name will be required only for PG. I suggest using the [group](https://github.com/esnunes/valida#groups) configuration for the validation ([example](https://github.com/esnunes/valida/blob/master/examples/groups.js)).

[2016-03-22 09:40] BornaP commented on #98
I'm glad you opened ticket for this issue, because I wanted to do the same :+1:

I think structure similar to one in mysql workbench is optimal here. I would keep triggers (and I would add columns) collapsed under each table and views, SP and functions should be in their own collection to separate them from the tables. Something like this:
![sql_metadata_structure](https://cloud.githubusercontent.

[2016-03-22 10:52] maxcnunes commented on #98
Good idea @darkwisperer  and @BornaP :+1:
I have thought bout it as well in the beginning of the project https://github.com/sqlectron/sqlectron-gui/issues/24. Some time later I closed that issue to keep the app more "minimalist".

But since there are people interest in this feature I would gladly accept a pull request for it :dancers:

I prefer the mysql workbench approach. Seems more organized at

[2016-03-22 15:37] darkwisperer commented on #98
I like the Mysql Workbench approach of putting the triggers under the tables. Perhaps table related synonyms should also be under the table group or in a description page?

@maxcnunes  I too like the idea of being able to keep it minimalist, or at least have an option/setting to control what is visible by default. Or on install it asks your preference of either all or minimal then the user can cus

[2016-03-29 13:59] BornaP commented on #98
Hey @maxcnunes ! I took a look at gui part today and here are my thoughts. I was thinking about adding actions and reducers for both _views_ and _routines_ separately, similarly like its done now for _tables_. Furthermore, maybe it's good idea to extract rendering tables, views and routines in separate component (or component**s**), instead of keeping it all in `database-list.jsx` . Speaking of UI

[2016-03-29 22:04] maxcnunes commented on #98
Hi @BornaP. I think you are in the right path. All the solutions you presented sounds a good approach!

[2016-04-01 11:44] rodbv opened #100 "Ability to save query to disk"
It would be great if we could save the query we're working on locally, File > Save and Ctrl+S

[2016-04-01 11:47] rodbv opened #101 "When we double-click on a table that is already opened, it should create a new tab, not overwrite the current one"
Steps to reproduce:
- Open a database
- Double-click on a table: it will open a new tab with the default query "select * table limit 1000";
- Change the query
- Double-click again on the table name on the left pane: it will reset the query on the same tab. Instead, it should create a new tab, and never destroy a query that was written (especially because we can't press Ctrl+Z to undo!)

[2016-04-02 18:43] #101 closed

[2016-04-02 21:06] #100 closed

[2016-04-03 08:49] BornaP opened #103 "Changing database in same connection opens tables list of all previously used DBs"
When changing between databases in the same connection, previously used databases remain collapsed although one clicks minimize button to keep tables list hidden.

To reproduce bug:
1. Open connection
2. Click 'minus' button to minimize tables list of currently used database
3. Double click another database
4. Both database lists are now open

[2016-04-03 15:05] maxcnunes commented on #103
I spent some time trying to fix it. But it is a bit more complicated then I thought.
Nowadays every time a new DB connection is opened. We [refresh the app](https://github.com/sqlectron/sqlectron-gui/blob/master/src/renderer/containers/query-browser.jsx#L133).
Because of that I see 3 solutions:

1. Do not use `history.pushState` anymore to connect into a new DB. (I guess would be some quite work).

[2016-04-03 15:06] maxcnunes commented on #103
@krolow any ideas?

[2016-04-05 09:48] BornaP opened #105 "Can't connect to the other connection when there is one refused in the same session"
Bug. To reproduce it:

1. Try connecting to saved connection which will return connection error (I used connection with PostgreSQL db here). Before connecting make sure that db engine is shutdown so you can get an error.
2. After error is shown try connecting to other saved connection which should connect successfully (I used connection with MySQL db)
3. Instead of establishing connection (with My

[2016-04-05 10:10] BornaP commented on #103
Regarding the last approach, you were thinking that we should store state object between connections on same server(client) regarding info about toggled menus and than on each database select (app refresh), render database list accordingly?

[2016-04-05 23:03] maxcnunes commented on #103
In the last approach I was thinking in keep the state of toggled databases in the database store (reducer state). This way the state wouldn't be lost on changing the database connection (which changes the page). But I don't think this is a good approach. At least all examples I have seen in internet for filter states, it is stored inside the component instead of the store.

But I found something w

[2016-04-05 23:04] maxcnunes commented on #98
Closing this issue since it has already been merged to master.

[2016-04-05 23:04] #98 closed

[2016-04-05 23:11] maxcnunes commented on #103
But I still prefer the first option.

[2016-04-06 09:31] BornaP commented on #96
Regarding PostgreSQL: Why don't we just connect user to default maintenance db `postgres` if no DB is provided, it seems that's the way pgAdmin III works?

[2016-04-06 10:00] maxcnunes commented on #96
I'm ok with this solution. It is what I usually do manually when I don't know the database name in the PG.

[2016-04-06 10:10] BornaP commented on #96
But I think bigger problem is decoupling database param in GUI. If it won't be required, [database parameter in the route](https://github.com/sqlectron/sqlectron-gui/blob/master/src/renderer/entry.jsx#L21) should be either optional (?database) or there should be container component with route `/server` which would render database list (so that user can select DB) and contain current `query-browser

[2016-04-06 11:53] maxcnunes commented on #96
If I implement that first option: https://github.com/sqlectron/sqlectron-gui/issues/103#issuecomment-204993640. The database parameter would be removed from the route.

Maybe while while the user is not connected to a database. The query-box should be hidden e even show a message "Select a database".

[2016-04-06 12:43] BornaP commented on #96
Yeah, that sounds great (removing database parameter from the route).

Regarding second point I agree, maybe query-box should be hidden, but on the other hand user should be enabled to create/drop databases. Maybe it should be enabled through some menu or a button if there won't be any query-box until database is selected.

[2016-04-06 22:53] maxcnunes commented on #96
If the idea is allow the user execute queries without be connect to a specific database. I prefer let the query-box visible already. But I am not sure how the app is gonna handle executing queries without database. I guess there are a lot of stuff related to database. But I can be wrong. Is something to try out and see how goes.

[2016-04-07 09:59] maxcnunes commented on #103
I have started implementing the first option. @BornaP I suggest waiting for these changes before working in anything else. Otherwise, probably you gonna have a lot stuff to resolve conflict during the merge.

[2016-04-07 14:11] BornaP commented on #103
@maxcnunes  Okay cool, thanks for the heads up :)

[2016-04-08 12:25] golinmarq opened #107 "How to install on Linux"
I downloaded the .zip file, unziped but I don't know what to do now. I'm a new Linux user, sorry the silly question

[2016-04-08 12:31] maxcnunes commented on #107
You can execute the binary file directly from there. But usually on linux is recommended to move the application directory into the [`/opt`](http://www.tldp.org/LDP/Linux-Filesystem-Hierarchy/html/opt.html) directory.

[2016-04-08 12:47] golinmarq commented on #107
Thanks!

[2016-04-08 12:48] #107 closed

[2016-04-09 10:58] maxcnunes commented on #103
@BornaP I have not fixed it yet. But my last commit https://github.com/sqlectron/sqlectron-gui/commit/811098cc18a2a6698ec0ad93bcd19e0dca90507d allow you keep going in the other stuff you are working on.

[2016-04-10 18:19] #105 closed

[2016-04-10 21:59] maxcnunes commented on #103
Fixed on commit 9967d66ef7c268d6e0bf8da4dccbbeb2ce5e8df4

[2016-04-10 21:59] #103 closed

[2016-04-11 09:29] BornaP opened #108 "Typography in database list"
I agree with [statement](https://github.com/sqlectron/sqlectron-gui/commit/d29355e874c83f4ddcf9ef63939d02b7b7e9f39d) that previous style was using too small font, but current setup makes it look weird, like database metadata titles have bigger font (although they don't) than databases names because they are weighted. Since they are sub list, maybe its better to make them normally weighted. Or put

[2016-04-11 10:07] maxcnunes commented on #108
Sure. I was not totally fine with this result. But it was already better than the previous one.
What do you think about this attempt?
![screen shot 2016-04-11 at 7 05 55 am](https://cloud.githubusercontent.com/assets/680356/14423781/fb35f19c-ffb3-11e5-93b6-259e3f8404ac.png)
It uses the same font-size of the children and has a collapse icon.

[2016-04-11 10:14] maxcnunes opened #109 "Query box does not resize well"
If I open a database connection and past or type in the query box a query with few lines (e.g. 15 lines). And I pull down the bottom of the box to increase the height. The query box will not resize well.

[2016-04-11 10:30] BornaP commented on #108
Yeah this one looks much better. Collapse icon should definitely stay.

Maybe children items should have indention, so it feels more like they are children of item above them. I think its a best practice when it comes to this tree structures. Probably adding left padding would do the trick, so that children items are aligned with first/second letter of parent node.

[2016-04-11 10:33] BornaP commented on #109
I'll try to fix it.

[2016-04-11 10:48] maxcnunes commented on #108
Cool. I'm gonna try that later today then. I hope finish it today, to release a new version. It's been a while since the last release.

[2016-04-11 15:56] BornaP opened #111 "Table rows are not rendered in matching table headers in query result table"
I just tried sqlectron with one bit bigger database (~130 tables) and executed default query on one of the tables (double-clicked table name). What I noticed is that all data is fetched correctly, but they are rendered under wrong table headers. They are mixed completely randomly. However, inspecting the elements I noticed that under data-reactid attribute correct column was set.

Here's example:

[2016-04-11 22:27] #109 closed

[2016-04-11 22:59] maxcnunes commented on #108
I have included a margin left for the menu. And also changed the color of the metadata titles to have a bit of less attention than the database title.
![screen shot 2016-04-11 at 7 55 45 pm](https://cloud.githubusercontent.com/assets/680356/14444935/74bcd7e0-001f-11e6-8eec-1a316a31abb7.png)

[2016-04-11 23:00] #108 closed

[2016-04-12 07:51] BornaP commented on #108
Great, this looks much better now :+1:

[2016-04-12 10:20] BornaP commented on #96
I compiled sqlectron-core with [this commit](https://github.com/sqlectron/sqlectron-core/pull/11/commits/263206af84dd6ddc388673726b3d56ba559bd177) and surprisingly, everything runs smoothly without having to change anything in GUI.

Both test connection and connect works fine. When user writes query without previously selecting database, it runs as expected.

`SELECT * FROM database_name.table_nam

[2016-04-12 10:35] maxcnunes commented on #96
I guess you have a problem with PG because you resolve the database name during the connection [here](https://github.com/sqlectron/sqlectron-core/pull/11/commits/263206af84dd6ddc388673726b3d56ba559bd177#diff-1e8257a7827404852fd1dfe42e66dfc1R172). And the interface by default will use the "default" database during the connection [here](https://github.com/sqlectron/sqlectron-gui/blob/master/src/rend

[2016-04-12 13:12] BornaP commented on #96
You were right, changed it and now it works smoothly. :clap:

PR request is [updated](https://github.com/sqlectron/sqlectron-core/pull/11), and new one on sqlectron-gui is made. I tested it locally for MySQL and PostgreSQL and it works.

PS. Seems there is a problem with building it on AppVeyor, but it seems there is a problem in the beginning with installing modules (sqlite3), not code itself (pr

[2016-04-12 13:15] krolow commented on #96
@maxcnunes @BornaP what might happen in app if defaultDatabase does not exists any longer (example someone deleted the default db), does it handle this error properly?

[2016-04-12 13:23] BornaP commented on #96
This is what pgAdmin III returns when you try to delete it:

So I guess we don't have to worry about that.

[2016-04-12 13:39] BornaP commented on #96
My bad, now I see if you change maintenance database you can (through console with arbitrary query).

In that case sqlectron won't establish connection and will return:

database "postgres" does not exist

User will still be able to update server connection and reconnect. Since, as far as I now, postgres is default maintenance database, if someone deletes it, it means he had to changed it to some

[2016-04-12 16:11] darkwisperer commented on #96
@BornaP Thanks for jumping on this!

[2016-04-12 18:19] maxcnunes opened #114 "Filter database metadata items"
I have some databases that have too many tables. Would be awesome if was possible to filter the metadata items.

[2016-04-13 08:08] BornaP commented on #96
@darkwisperer You're welcome! :)

[2016-04-13 08:29] BornaP commented on #114
Good idea! Search filter should probably be placed somewhere under the 'Tables' header.

If this will be implemented, and having in mind we might fetch & list table columns/triggers (on a click on single table) in future, maybe it's good idea to make side menu bit wider after implementing this.

I can jump on this after resolving #111

[2016-04-13 09:30] BornaP commented on #111
Seems bug only occurs when table has more than 15 columns.

[2016-04-13 09:56] #96 closed

[2016-04-13 09:58] maxcnunes commented on #111
That is weird. Let me know if you need help with it.

[2016-04-13 10:17] maxcnunes commented on #114
I thought in 3 options:

A. change the database search to include some filters. This way would have a global search. (Would be applied only in the loaded data. e.g. If a database is not connected, would not be possible to search for its tables).

**Initial state:**
[code]
**After clicking in the [+]:**
[code]

B. Include the search over `Tables`. Which would search for any matada in that database.

[2016-04-13 11:04] BornaP commented on #114
Although A is quite interesting solution, I also fancy option B. It's simple, has one step less than A (which is better) and get's the job done :)

[2016-04-13 16:13] #111 closed

[2016-04-14 12:02] AndiDog opened #116 "Username/password only updated after restart"
So I've happily tried sqlectron the first time after seeing it on reddit. Nice job!

My issue can be reproduced like this:
- Add MySQL server and enter wrong username/password
- Save (which closes the dialog) and connect. That will give an "access denied" error.
- Edit the connection again and correct username/password values
- Save and try to connect again. This **still** gives an error, but shou

[2016-04-14 15:41] darkwisperer commented on #116
@AndiDog Good catch!

I can confirm this issue also affects mssql

[2016-04-14 15:52] maxcnunes commented on #116
Thanks @AndiDog. I will fix it later today.

[2016-04-14 16:48] mayconbeserra opened #117 "Grid is converting the date when showing the data"
The grid is converting the date when it should not.

Based on my query, the result is different from my date range.
![image](https://cloud.githubusercontent.com/assets/911493/14536176/7bd6cea8-0247-11e6-90a0-dc1c55b6a1f1.png)

[2016-04-14 19:02] krolow commented on #117
what is the db that you are using @mayconbeserra could not reproduce in pgsql at least i get the results that were expected

[2016-04-14 20:31] mayconbeserra commented on #117
Hi, It is happening on mySql. I have installed SQLelectron this week.

[2016-04-14 21:16] krolow commented on #117
alright @maxcnunes mention that might be related with timezone conversion i'll leave to him check

[2016-04-14 21:20] krolow commented on #97
have #106 solved that issue?

[2016-04-14 21:23] darkwisperer commented on #97
Sounds like it should. I was waiting for a new gui release to confirm this.

[2016-04-14 21:27] BornaP commented on #114
I'll probably make PR for this tommorow.

[2016-04-14 23:21] maxcnunes commented on #97
Sorry @darkwisperer. I was hoping release it earlier. But I have upgraded the build configuration. and I have not got it working properly yet. I hope finish it until this weekend.

[2016-04-14 23:50] darkwisperer commented on #97
@maxcnunes no rush :)
Just happy to help out when/were I can.

[2016-04-15 19:47] #114 closed

[2016-04-15 21:06] BornaP opened #120 "Query auto completion"
Having in mind recent [feedback from redit](https://www.reddit.com/r/programming/comments/4en0jh/sqlectron_one_single_db_client_for_any_relational/d22og0t) and feedback I'm getting from others, this should have it's own issue.

It would be a major enhancement for the app if query box would have auto completion (existing tables, columns, etc.). I haven't checked if ace editor comes with API which c

[2016-04-15 21:17] maxcnunes commented on #120
Yeah. That would be an awesome feature. I don't have much time to implement it right now. But if you are  interested in implementing it. Please do. Let me know if you need help in anything.
By the way. Looks like ace has support for auto complete - https://github.com/ajaxorg/ace/wiki/How-to-enable-Autocomplete-in-the-Ace-editor.

[2016-04-15 21:46] darkwisperer commented on #120
Autocomplete would be amazing!

[2016-04-18 00:41] maxcnunes commented on #116
I could not reproduce this bug. Maybe is something that have been fixed already by another change. Could you teste it in the new version (v1.6.0)?

[2016-04-18 06:52] insha opened #121 "The App Crashes On Launch"
The app (latest 1.6.0) when launched crashes with the following message:

<img width="532" alt="screen shot 2016-04-17 at 11 51 30 pm" src="https://cloud.githubusercontent.com/assets/1245047/14595859/5b0b5a38-04f7-11e6-8f79-a359513b89b6.png">

OS X: 10.11.4

[2016-04-18 06:55] hardliner66 opened #122 "Uncaught exception in windows installer"
When I try to install on my windows machine (win 10 64 bit) I get an uncaught exception:
"Cannot find module 'babel/polyfill'"

![image](https://cloud.githubusercontent.com/assets/2937272/14595937/388499c4-0543-11e6-86ab-9811fe47a087.png)

[2016-04-18 10:20] maxcnunes commented on #121
Thanks @insha. I am working on it.

[2016-04-18 10:23] maxcnunes commented on #122
Thanks @hardliner66. I am working on it.

[2016-04-18 12:30] maxcnunes commented on #121
Fixed in the version 1.6.1. Could you please check if it works for you?

[2016-04-18 12:31] maxcnunes commented on #122
This only occurs on windows. I will fix it later today.

[2016-04-18 15:39] darkwisperer commented on #121
Here is the error for 1.6.1 on windows:
![image](https://cloud.githubusercontent.com/assets/740476/14609987/e9b47f8c-0540-11e6-83b2-93b81b910032.png)

[2016-04-18 15:41] darkwisperer commented on #122
I can confirm this issue on windows 7

[2016-04-18 19:31] insha commented on #121
That worked! Thanks 👍

[2016-04-18 19:31] #121 closed

[2016-04-19 02:29] maxcnunes commented on #122
Reason why the release for windows is not working - https://github.com/electron-userland/electron-builder/issues/336.
But I still trying to fix it.

[2016-04-19 17:05] maxcnunes commented on #122
@hardliner66 or @darkwisperer could someone test it with the version 1.6.2?

[2016-04-20 07:52] ArayB opened #123 "Javascript error on OSX installer"
Hi, tried to install this and get the following error:

**A JavaScript error occurred in the main process**

Uncaught Exception:
Error: Cannot find module '../../../app/package.json'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:289:25)
    at Module.require (module.js:366:17)
    at require (module.js:385:17)
    at Object.<anonymous> (/Applica

[2016-04-20 09:56] maxcnunes commented on #123
Using the version 1.6.2 - https://github.com/sqlectron/sqlectron-gui/releases/download/v1.6.2/Sqlectron-1.6.2.dmg ?
It is working for me: OSX 10.11.4.

[2016-04-20 13:48] hardliner66 commented on #122
I just tried it and it works now.

[2016-04-20 14:12] #122 closed

[2016-04-20 15:25] kbradl16 commented on #122
1.6.2 works for me as well on Windows 10 64 bit

[2016-04-20 17:32] darkwisperer commented on #97
Issue still persists in v1.6.2

[2016-04-25 07:48] ArayB commented on #123
I was trying to install 1.6.0 apparently.
That has installed fine now.
Was a bit weird because a colleague had no problems installing either.

Thanks!

[2016-04-25 09:40] maxcnunes commented on #123
Thanks. That was a bug created on version 1.6.0 and fixed on version 1.6.1. Glad is working now for you.

[2016-04-25 09:40] #123 closed

[2016-04-25 21:28] maxcnunes commented on #116
@AndiDog and @darkwisperer could you confirm if it really still happening?

[2016-04-25 23:50] darkwisperer commented on #116
@maxcnunes  This issue is resolved in 1.6.2

[2016-04-26 00:23] maxcnunes commented on #116
@darkwisperer sorry, I didn't quite understand. Did the windows installer of 1.6.2 work for you? What in the installer was glitched out and unreadable?

[2016-04-26 06:56] AndiDog commented on #116
Issue is resolved.

[2016-04-26 06:56] #116 closed

[2016-04-26 07:12] eMerzh opened #125 "Ability to describe Table as SQL"
It would be cool to have the ability to view the tables (or any object btw) as SQL
to be able to understand what type of data is it, what are the limits , indexes, ...

[2016-04-26 07:47] BornaP commented on #125
You mean like getting SQL definition of table/procedure/view? If so, I had something like that in mind. Definitely something we will implement in foreseeable future I guess!

[2016-04-26 08:35] BornaP opened #126 "Table rows scaling"
I noticed that because of some long text (nvarchar) attributes, table rows do not scale nicely, they become too big. For example:

![table-sqlectron](https://cloud.githubusercontent.com/assets/8470710/14811590/03f188a0-0b99-11e6-8a5a-115bbed076b8.png)

Trying the same example with other DB tools, I realized they mostly do not allow word breaks and instead limit column width to certain number of ch

[2016-04-26 09:17] eMerzh commented on #125
Yes exactly that :)

[2016-04-26 16:27] krolow commented on #125
yes, +1 for the feature, i was also thinking in implement that, it would be nice to have it

[2016-04-26 16:29] krolow commented on #126
I think it's good, i like the approach of open a modal with a full text view in case of double click what do you think?

[2016-04-26 18:40] darkwisperer opened #127 "Installer: Windows installer not displaying properly"
OS: Win7
App Versions: 1.6, 1.6.2, 1.7
using: SqlectronSetup-1.7.0.exe

This is a minor bug where the installer is not rendering properly.
See below:
![image](https://cloud.githubusercontent.com/assets/740476/14829975/26c5bafe-0ba3-11e6-8b64-bfd5d02f14a5.png)

[2016-04-26 18:40] darkwisperer commented on #127
Can some one else verify?

[2016-04-27 07:44] BornaP commented on #126
I thought about just selecting the whole text (so user can copy it), but I think modal would be fine :)

[2016-04-27 11:31] maxcnunes commented on #127
Do you mean that image? That is a default gif visible during the installation. https://github.com/electron-userland/electron-builder/wiki/Options#buildwin

If the problem you are describing is really that I can ask to my brother (how created the Sqlectron logo) to  create a gif for Sqlectron installation.

[2016-04-27 18:43] mayconbeserra opened #129 "App Crash after querying thousands of records (mySQL)"
App is crashing after querying a simple select, which returns more than 185446 records.

The select is simple: `select * from table where foreign_key = 1`

Database: MYSQL

========== Log Below ==================

Process:               Sqlectron [4366]
Path:                  /opt/homebrew-cask/*/Sqlectron.app/Contents/MacOS/Sqlectron
Identifier:            org.sqlectron.gui
Version:

[2016-04-28 08:39] BornaP commented on #120
Although issue was resolved with this [commit](https://github.com/sqlectron/sqlectron-gui/commit/55f5894a0f261cfcf3a544a3df30da016bf4e1be), I'll leave this issue open for further discussion on autocomplete enhancement.

As mentioned in  #128 , both basic and live autocompletion should be optional (hence user should be able to enable and disable it). Furthermore, there's way to include tables and c

[2016-04-28 15:55] darkwisperer commented on #127
Oh. Yes it is the [spinner gif](https://github.com/electron/windows-installer/blob/master/resources/install-spinner.gif). That gif is a little confusing as to its purpose in the install.

[2016-04-28 17:27] maxcnunes commented on #127
@markcnunes [this gif](https://github.com/electron/windows-installer/blob/master/resources/install-spinner.gif) is visible during the installation of the app on Windows.

But since that is too much generic is a bit confusing what that represents.

Could you prepare a gif for Sqlectron with a spinner and some describing message such as "Installing... Please wait."?

[2016-04-30 22:36] maxcnunes commented on #129
Hi @mayconbeserra,

This query is creating a very large buffer which is reaching the memory limit.
I guess  the amount of memory you have available does not support loading that much data at once.

The only thing I think we can do is force paging any SELECT query when the user does not include an LIMIT. We already sort of do that, but it is only done in the front end (which already improves a lot

[2016-04-30 22:43] maxcnunes opened #131 "Create a settings page/window"
I guess few users now how to use the custom configurations with the `.sqlectron.json`.
A settings page would be much easier for any user customize that configurations.

[2016-04-30 22:43] maxcnunes commented on #131
@krolow do you mind implementing it? 😄

[2016-04-30 23:00] maxcnunes commented on #117
The best approach would be not parsing the data from the DB to nodejs. Which all the sql clients does by default.
The Mysql client has a configuration `typeCast` for that. But seems PG and MSSQL does not have that configuration available. I don't have much time for that right now. So any PR is well come 😄

[2016-04-30 23:14] krolow commented on #131
leave to me I can work on that a long of this week for sure

[2016-05-01 00:21] maxcnunes commented on #131
Awesome. No rush 💃

[2016-05-01 03:24] maxcnunes commented on #120
The metadata is now loaded into the auto completion list. I guess is just missing apply the custom configurations to consider this task done. I can work on that tomorrow.

[2016-05-01 22:02] maxcnunes commented on #120
Completed with https://github.com/sqlectron/sqlectron-gui/commit/a50497c79ba6bfed1e856f4aea1fe73c132e48d2

[2016-05-01 22:02] #120 closed

[2016-05-05 14:23] cperezabo opened #133 "Opening Databases is not intuitive"
First of all (and after you discover how) it feels like if it would have a delay when you click on the database at the sidebar
But the most important thing is that the "+" for expanding the database tables isn't there by default!. You first have to discover that you have to double click the database name to open it, but just the name, because I was clicking the database box and nothing happened un

[2016-05-05 14:24] cperezabo opened #134 "DBs and Tables are not updating after create"
When you run a create database or create table, the created object doesn't show at the sidebar, you have to reload the complete app!

[2016-05-05 15:26] maxcnunes commented on #133
At the beginning we had a pointer cursor on passing the mouse over the database. But we changed that to default cursor because you have to double click to open the database. And the pointer cursor is a common style for one click. The database name has a tooltip saying you can click twice to open the database. But that only appears if you stop the mouse over the database name.
But you are right, we

[2016-05-05 15:36] BornaP commented on #134
I think there is no database gui client (i.e. MySQL Workbench, pgAdmin) which shows newly created database/table without manually clicking on reloading data, but I agree we can try to implement this. Or at least put 'refresh button' which would reload databases and tables (like other clients do)

[2016-05-05 15:51] maxcnunes commented on #134
Even the auto refresh looking a best solution. We can not implement that because there is not a properly way to detect the query type in nodejs. Regex is not a good option and the best solution would be using AST of the query (which there is not any good one available in nodejs - is the same problem described [here](https://github.com/sqlectron/sqlectron-gui/issues/129#issuecomment-216000135)).
So

[2016-05-05 16:30] darkwisperer commented on #134
Random thought, on sql execute IF SQL string contains keyword "Create" then run the refresh menu function. I might be oversimplifying the issue.

i.e
`if ( string.indexOf('create') > -1 ||  string.indexOf('Create') > -1)
      refreshLeftMenu();`

[2016-05-05 17:15] maxcnunes commented on #134
Sorry. In this case there is no simple solution. Your suggestions would not work with many situations 😢
[code]
or
[code]
or
[code]
or
[code]
These are only the few simple cases I have just thought about right now. I'm sure there are others even more complex that a string "search" or even Regex would not work. Only a AST of the query would give us the full understanding of the query to be able to "

[2016-05-05 18:28] darkwisperer commented on #134
Your right. My idea would have unnecessarily done a refresh. I noticed there are a few AST related npm packages that we might be able to leverage. This is a little over my head, so I'm just going to follow along :)

[2016-05-05 19:48] cperezabo commented on #134
@BornaP oh yes it is. I use Sequel Pro for OS X and it show stuff just after the query run out!

[2016-05-05 19:52] cperezabo commented on #133
I think the first approach was better!. It is simpler to click once instead of twice.
And further more if you have to see a tooltip to know you can double click the database name!

[2016-05-05 20:01] BornaP commented on #133
I'm not sure if it is a good practice to require only a single click for opening new database connection, because user can click it by mistake and open new connection redundantly.

[2016-05-05 20:13] krolow commented on #133
I agree :+1: to have one click back and cursor pointer

[2016-05-05 20:17] krolow commented on #134
I think to begin a simple solution would be to add a refresh icon in the database, so we fetch the data once again.

It will not be automatic, but at least would give the support to refresh, and it might be a feature useful for other scenarios (like multiple users creating view/tables in same database) it would allow you to refresh and get the new things that others are generating...

And it also

[2016-05-05 22:06] cperezabo commented on #133
@BornaP At least is more intuitive!. UX is awful as is today. I double click a database and no "Opening..." message is displayed, further more I have to discover where to double click! in the name? in the surrounding area? in the db icon at the right? Opening a new connection on a "mistaken click" is paradise compared with the time it takes to discover where you have to click!

[2016-05-05 23:14] krolow commented on #133
yeah for sure @cperezabo, that's why we are welcome to PR and changes, it would be good to receive from you a PR to improve such behavior... just to get a context, we (when i say we, mainly @maxcnunes) we have built that because we haven't found a good App to query across platform in PgSQL, it was the begin of the idea of sqlectron...

so for sure it have a lot to improve as we are **developers**

[2016-05-05 23:14] maxcnunes commented on #133
I disagree with these options:
 * pointer cursor + one click: as @BornaP said it will make users open a new connection by mistake.
 * pointer cursor + double click: is not the expected behavior for the pointer cursor. Pointer cursor must trigger an action in the first click.

I propose to have the same behavior of MySQL Workbench.
* All the databases have a collapse icon.
* It always use default c

[2016-05-05 23:17] krolow commented on #133
@maxcnunes yeah, collapse sounds a good idea... it would give the felling that you need to click to open that, so for sure it might be as well one approach to go ahead!

[2016-05-05 23:25] maxcnunes commented on #133
@cperezabo if you are not interested in diving into the code to implement it just let me know. I don't mind implementing it for next release. Although since it is a simple change this would be a good opportunity to know the code.

[2016-05-05 23:49] krolow commented on #134
may i give a go for it to implement a refresh icon what do you think @maxcnunes @BornaP ?

[2016-05-05 23:59] cperezabo commented on #133
I forked the repository to do that, but I cannot compromise about times since I am complicated with my jobs and university !! 😱

[2016-05-06 00:20] krolow commented on #133
@cperezabo excited dude, looking for to see your contributions, as said before we are trying to make this project as welcome as possible to accept PR

[2016-05-06 07:45] BornaP commented on #133
I agree with solution Max proposed :+1:

[2016-05-06 07:47] BornaP commented on #134
Sure, give it a go! :)

[2016-05-09 16:39] krolow opened #135 "Auto complete is duplicating entries related to meta values from tables"
![image](https://cloud.githubusercontent.com/assets/46822/15120307/69987496-15eb-11e6-9068-6d114d3a5415.png)

If you open multiple tabs, its repeating the entries of auto complete

[2016-05-09 16:42] krolow opened #136 "Select string columns are not returning properly in the result view"
![image](https://cloud.githubusercontent.com/assets/46822/15120338/9e6e5f32-15eb-11e6-81bc-cf388ab26e1f.png)

If I attempt to select some default string values, it is not displaying properly at result view, **only if** I use aliases for the columns it works properly... like:

![image](https://cloud.githubusercontent.com/assets/46822/15120373/cf4e7b82-15eb-11e6-80c1-3ae70554a7a0.png)

[2016-05-09 16:44] krolow opened #137 "Be able to resize font at query editor"
![image](https://cloud.githubusercontent.com/assets/46822/15120419/02db3a1c-15ec-11e6-8137-14e3413dd523.png)

Default font-size it's too small, it would be good to be able to resize the font (at least use ctrl + scroll, to increase the font-size)

[2016-05-09 19:44] krolow opened #138 "When press Ctrl + S tab get renamed to undefined"
![image](https://cloud.githubusercontent.com/assets/46822/15125835/54d35106-1605-11e6-8171-d3bb17e6a4fa.png)

[2016-05-09 23:31] #135 closed

[2016-05-10 20:03] #137 closed

[2016-05-10 20:03] BornaP commented on #137
Closed with 33548c93aa445639bb010f362c58396257554d67

[2016-05-10 20:05] #138 closed

[2016-05-10 20:05] BornaP commented on #138
Closed with 6a08e01a23ff023fa73d913ba72665393e58db73

[2016-05-11 08:33] BornaP opened #142 "Upgrade to electron 1.0"
Title says it all. Electron's first major is here! :tada: :confetti_ball:  [Electron 1.0](http://electron.atom.io/)

@maxcnunes Since you're the initiator of the Sqlectron, probably you are the best person to make PR and include Sqlectron on [Electron Apps page](http://electron.atom.io/apps/). Here's [how to do that](https://github.com/electron/electron.atom.io/blob/gh-pages/CONTRIBUTING.md#adding

[2016-05-12 01:25] maxcnunes commented on #142
Awesome. I have sent the PR including Sqlectron to the list of apps.
Lets upgrade!!! We just have to be careful and test well. Because we had some problems with the latest attempts to upgrade the electron.

[2016-05-12 09:24] Grelek opened #143 "Build fails on Arch Linux"
Hi,

I tried to build sqlelectron 1.8 from source on Arch Linux and the build command fails. I ran these commands:
[code]

The installation worked fine, but the build command fails with following message:
[code]

Also, [here's Gist of the `npm-debug.log` file](https://gist.github.com/Grelek/6393c9273f0ed95e9b5f90d2f7598db4).

[2016-05-12 11:32] maxcnunes commented on #143
Hi @Grelek,

The `build` script requires the `compile` script have been ran before.
Could you try to execute `npm run dist` instead? I have never tried on Arch Linux. I hope that works.

[2016-05-12 11:50] Grelek commented on #143
When I ran `compile` and then `build:linux`, it somehow worked. However, the final application is not what I expected...
![1463053551](https://cloud.githubusercontent.com/assets/2447438/15213493/e61f33de-1847-11e6-98b6-e6fc430b2718.png)

And the `dist` command fails with following message:
[code]

[Here's corresponding Gist](https://gist.github.com/Grelek/678e81f5f25bfc5beea7560010952a98).

[2016-05-12 12:04] maxcnunes commented on #143
There are some required packages to build the app: https://github.com/electron-userland/electron-builder/wiki/Multi-Platform-Build#linux.

Weird `npm run compile && npm run build:linux` should have the same behavior of `npm run dist`.

[2016-05-12 12:20] maxcnunes opened #144 "Replace paging result with "scrolling" result"
After implementing #126 will be possible to use a "scrolling" result (because requires a fixed height for rows). Which I guess gives a much better UX. What do you think guys?

This one looks really good: https://facebook.github.io/fixed-data-table/.

[2016-05-12 12:50] BornaP commented on #144
I like the idea, big thumbs up for this! It looks much more 'native' for this kind of app. I'll try to implement #126 as soon as possible!

[2016-05-12 12:55] krolow commented on #144
it looks good this fixed data table

[2016-05-12 14:14] Grelek commented on #143
I think I installed all required libs successfully. `dist` command now works but it still produces the same (wrong) binary.

[2016-05-12 14:23] BornaP commented on #125
Resolved with #141

[2016-05-12 14:23] #125 closed

[2016-05-12 14:33] maxcnunes commented on #143
I'm gonna install a Ubuntu VM to see how it goes.

[2016-05-13 03:24] maxcnunes commented on #129
Maybe is possible to avoid this problem by using a cursor or streaming the result which we could pause the stream between pages. Reopening to see what we can do about it. Although this problem could still happening if the user went over all pages (because would allocate all data into the memory). At least would not crash the app at first moment.

[2016-05-13 15:24] BornaP commented on #89
Seems like react-tabs repository is inactive recently (at least admins are), even if someone makes PR it's very unlikely it will be accepted anytime soon.

[2016-05-13 16:15] BornaP commented on #143
@Grelek I see you're using latest Node version, have you tried with v4.4.4 LTS (latest recommended for most linux users)?

[2016-05-13 16:30] maxcnunes commented on #89
Well, there are a few options for that:

* Implement that on react-tabs and use the new branch (in case they don't accept the pull request).
* Find out another actively maintained react tab component (even better if has that feature already).
* Instead of use the cursor to close the tab. We could implement a shortcut for that (e.g. Ctrl/Cmd+W) ( I would like this one).

[2016-05-13 16:40] #126 closed

[2016-05-13 16:41] maxcnunes opened #146 "Use a modal to show the content of text fields in a pretty format"
Already described here: https://github.com/sqlectron/sqlectron-gui/pull/145#issuecomment-219095722

[2016-05-13 17:29] Grelek commented on #143
@BornaP No, I haven't. I just downloaded [nodejs package](https://www.archlinux.org/packages/community/x86_64/nodejs/) from Arch repository. I'll try 4.4.4 then.

[2016-05-13 17:41] maxcnunes commented on #143
@Grelek

I have installed a VM with Ubuntu 16.04. The build works following these steps:

[code]

The executable is in `dist/Sqlectron-linux-x64/` and `dist/Sqlectron-linux-ia32/`.

I was using:

* node `5.11.1`
* npm `3.8.6`
* git `2.7.4`

I have also download the ISO for Arch Linux. I will try later on that as well. But maybe take a bit more time because I have not used Arch linux before.

[2016-05-14 09:28] BornaP opened #147 "Select whole line with Ctrl/Cmd + L"
Since we now have feature that enables user executing only selected line(s), it would be nice to enable selecting current line with Ctrl/Cmd + L hotkey so that user does not have to use mouse or manipulate with arrows + home/end keys. I use this shortcut in Atom editor often, so I guess it would be nice touch here too :)

[2016-05-14 12:01] BornaP commented on #89
I agree with third option that you mentioned. We could implement shortcut for that. Tab can be closed on mouse click anyways (by clicking the x button). Secondly, I see that there are some request for implementing support for custom mouse events on react-tabs, so I think it will be implemented eventually and then we can add that to our app easily.

[2016-05-15 03:21] maxcnunes commented on #134
**TLDR** I guess will be possible to implement this auto reloading feature. I am working on it.

Since having a AST would give us some good analyse power over the executed queries. I tried find out some good sql-parser in node. But every parser I found is not fully implemented. Then I decided trying to create a bind from some existing one from C. But that would require creating a bind for each dat

[2016-05-15 10:00] BornaP commented on #134
Wow, that's some great news! The whole idea that you went on writing your own SQL parser is just impressive itself, and now that you have working solution that's just brilliant :) Bem feito @maxcnunes ! (hope I got it right haha)

[2016-05-15 23:33] #89 closed

[2016-05-16 02:04] #147 closed

[2016-05-16 02:30] maxcnunes opened #150 "Improve documentation about shortcuts"
Would be good have a page listing all available shortcuts.
The app already has few shortcuts and the ace editor also has some good [shortcuts](https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts).
I was thinking in keep it simple and just adding a link in the app to a webpage which could be a markdown file in the repository or even a page in the wiki (which we don't have yet).

What do

[2016-05-16 02:32] maxcnunes commented on #133
I just realized it still working only on clicking in the name. I will try improve that again 😄

[2016-05-16 12:11] maxcnunes opened #151 "Do not quit the application on Mac on closing the last window"
This is not the expected behaviour for Mac applications.

[2016-05-16 12:13] maxcnunes opened #152 "Add shortcut for database search and metadata search"
Would be pretty useful at least for me 😄

[2016-05-16 23:19] BornaP commented on #150
I agree on adding this! Link to the markdown file sounds good enough, but if you were thinking about creating a wiki page anyway, then that would be a better solution! :)

[2016-05-17 02:02] maxcnunes commented on #150
Ok, so a wiki it will be 😄

[2016-05-17 02:07] maxcnunes commented on #143
Sorry @Grelek, I could not get a Arch Linux running. The only VM I found with Arch Linux didn't work. But since it works on Ubuntu I guess this is probably a problem with some missing package or even using a different version of some package.

[2016-05-17 02:36] #150 closed

[2016-05-17 08:50] Grelek commented on #143
Hi, I tried compiling it with node 4.4.4 and it ran successfully without any errors, but I still get not working build. I'll try to investigate it a bit more when I have time.
![1463474896](https://cloud.githubusercontent.com/assets/2447438/15316402/177f1a9c-1c1d-11e6-9f52-c021386265a2.png)

[2016-05-17 10:31] maxcnunes commented on #143
@Grelek  Could you try these steps below?

1. Remove the `node_modules` from the root directory of the project
2. Remove the `node_modules` from the app directory
3. Install the deps with `npm install` (please provide the log)
4. Build the app with `npm run dist` (please provide the log)
5. Attach here the `dist` generated folder.

[2016-05-17 10:33] BornaP commented on #152
You mean like focus search field on keyboard shortcut?

[2016-05-17 10:37] maxcnunes commented on #152
Exactly.

[2016-05-17 10:38] maxcnunes commented on #143
Could you try if this one built on Ubuntu works for you?
http://expirebox.com/download/459f6420e2979a0385aaaffe49ebd3be.html

[2016-05-17 19:07] Grelek commented on #143
Hi, I tried the Ubuntu build and it works like a charm.

Now I have only [`npm install` log](https://gist.github.com/Grelek/0252a2b9056767192ca7c44a4fc36d76), `npm run dist` didn't generate any logs. And I forgot to copy the `dist` directory, so I don't have access to it right now, will post it later.

[2016-05-17 20:29] maxcnunes commented on #143
Seems is everything ok with the `npm install`. `npm run dist` should have generated an output similar to this one https://gist.github.com/maxcnunes/7e03203a76e89db258db2e93b02b8149#file-sqlectron-npm-run-dist-log (although this one is for mac).
Since is possible to use the build from Ubuntu. Is there a reason to you not use them? We could include them in the release files.

[2016-05-18 00:21] #151 closed

[2016-05-18 01:53] #133 closed

[2016-05-18 08:45] eMerzh opened #153 "Add Support for schema"
With postgresql and other big databases (oracle, ...) you have schema...
it seems that sqlectron does not support them .... it would be really nice to be able to browse accross distinct schemas :)

[2016-05-18 08:51] BornaP commented on #153
Yeah you're right, sqlectron does not support them, it currently reads only public schema of certain database (if DB engine supports schemas). Since only PostgreSQL of all database that we support has schemas, I guess it would require writing some code specific only for postgres case, since the app is hybrid.

[2016-05-18 09:15] eMerzh commented on #153
ok... i understant that it's a bit harder than just "display_the_schema=yes"
but would'nt it be possible to at least let the user select a schema at connection time or something ?
or any other workaround ?

because Postgresql support without schema is not really as useful as it could be.

[2016-05-18 09:24] BornaP commented on #153
I agree with you on that. We'll see whether to implement schemas in database list so that user can browse between schemas (if they exists) or as you said, enable user to select schema when connecting to database.

I guess first option might be doable with making component that would be hidden when not using postgres (hence when method in back-end, let's call it _getDatabaseSchemas_ , would not ret

[2016-05-18 10:07] maxcnunes commented on #153
I guess this issue could be break down in 2 PR:

1. allowing the user select the default schema during the connection (in the server management screen).
2. listing the schemas in the database list as @BornaP said.

[2016-05-18 10:39] BornaP commented on #142
I've spent some time trying to get this working but I think we will have to wait a bit with this. There's definitely problem with newer electron version handling `Promise.reject` from remote. Error gets swallowed and cannot be caught (for example [here ](https://github.com/sqlectron/sqlectron-gui/blob/master/src/renderer/actions/queries.js#L169)). It might be correlated to newer Chromium versions

[2016-05-18 12:38] maxcnunes commented on #142
Sure. Lets wait until that error has been resolved.

[2016-05-18 12:46] maxcnunes opened #155 "Add support to ssh tunnel with key using password"
I just confuse which one is the better approach:

* save the password in the configuration (is easier, and we already does that for other passwords)
* show a modal during the ssh connection asking for the ssh key password

[2016-05-18 16:26] BornaP commented on #155
I'm not really using this much, but I think ssh key pass phrase should not be stored as a plain text in configuration, because what's the essence of using _secure_ tunneling then. So prompting user on connection for pass phrase would be better approach I guess.

[2016-05-18 16:49] maxcnunes commented on #155
Neither do I. Although there are people that sure use that. Yeah the modal is the correct way 👍

[2016-05-18 22:51] BornaP commented on #155
Haha I know, it's really useful feature :smile: I meant in a way that I might be wrong as I'm not using it regularly. But I'm glad you too agree on modal :smile:

[2016-05-19 17:11] BornaP opened #158 "Results after SELECT query are not rendered"
After pulling latest changes and running default SELECT query on table no query results are displayed. Instead only message that query is executed successfully shows up:

![results_not_rendering](https://cloud.githubusercontent.com/assets/8470710/15402552/1ec17b36-1df5-11e6-938a-ea11cd6e84f2.png)

Query is returning results as expected, at the bottom you can see in action object 22 rows fetched.

[2016-05-19 18:00] BornaP commented on #158
Forgot to do `npm install` afterwards. Ignore this, my bad. It's working perfectly! :)

[2016-05-19 18:00] #158 closed

[2016-05-20 02:11] maxcnunes commented on #127
Implemented in this commit https://github.com/sqlectron/sqlectron-gui/commit/ee4c7b8a2cbb1d5991a44e20899cba6be7bea0fa

[2016-05-20 02:11] #127 closed

[2016-05-20 20:36] #152 closed

[2016-05-20 20:39] maxcnunes commented on #134
Closing this issue since have been implemented on #156 and #160.

[2016-05-20 20:39] #134 closed

[2016-05-21 12:42] maxcnunes opened #163 "Add shortcut to focus the query box"

[2016-05-21 13:00] #136 closed

[2016-05-21 20:55] #163 closed

[2016-05-23 12:23] BornaP opened #165 "Support for database diagram"
Okay, so here's the idea which I'll try to implement (as it is one of features my mentor requests me to do, and I guess it would be really nice one to have!). I was thinking of making database diagramming component which would produce database visualization based on database tables, views and their references (primary and foreign keys! -> this will need some smaller extension of back-end API). The

[2016-05-23 12:38] BornaP commented on #165
@maxcnunes @krolow @esnunes : All suggestions and opinions are welcome!

[2016-05-23 16:06] maxcnunes commented on #165
This would be an awesome feature. Not sure which library is the best for ERD diagramas. Seems like JointJS has a better documentation/support. I have found this GoJS (erd example http://gojs.net/latest/samples/entityRelationship.html). But I am not sure it is free.

[2016-05-23 22:17] BornaP commented on #165
GoJS is $1350 per developer :smile:  But no worries, I think JointJS has everything necessary to customly build simple ERD diagram. Will give it a try!

[2016-05-23 22:41] maxcnunes opened #166 "Distinguish a string with 'NULL' value from a NULL data type"
Does other DB clients does that? Maybe we could change the background color or the font color to make explicit is a NULL value.

[2016-05-24 08:59] plandevida opened #167 "ssh connection error"
Hi,

I tried to configure a connection over ssh configuration, that is the same I'm using with mysql workbench, but it's fails showing "_Connection refused_".

The connection works:
[code]

[2016-05-24 09:15] BornaP commented on #166
I think changing font color to some faded black or grey should do the job.

[2016-05-24 09:24] BornaP commented on #142
Issue has been [resolved](https://github.com/electron/electron/pull/5666), so I'll wait for new release (that includes this changes) to check it out if it works :)

[2016-05-24 10:11] maxcnunes commented on #167
That is weird. Most of the connections I use are over SSH. Could please include this sqlectron server configuration `~/.sqlectron.json`.
**Important**: replace the values that are secret such as host, database, user, password with `secret`.
Also what is the OS and the sqlectron version are you running?

[2016-05-24 10:20] maxcnunes commented on #129
Debugging the problem. Seems like the memory leak happens on electron while it prepares the response  from the main process to the renderer process. I'm planing in replacing the remote IPC calls with HTTP requests over a HTTP server running in the main process. It would allow use streams to response the query results. Which I guess would fix this problem. I still testing this approach. Lets see if

[2016-05-24 10:35] maxcnunes opened #168 "Save passwords in the system's keychain"
This would be a huge security improvement. Seems like https://github.com/atom/node-keytar is a good option. I guess it is not a top priority. But at least is good include in **icebox**.

[2016-05-24 10:42] BornaP commented on #168
Agree, definitely something that should be implemented.

[2016-05-24 10:46] plandevida commented on #167
Hi,

I'm using Ubuntu Linux 16.04 and SQLElectron 1.8.0

[sqlectron.json.txt](https://github.com/sqlectron/sqlectron-gui/files/279282/sqlectron.json.txt)

[2016-05-24 10:55] maxcnunes commented on #167
Hi @plandevida,

Looks like you have not configured the connection to use the SSH Tunnel.
Here is an example:
![screen shot 2016-05-24 at 7 53 53 am](https://cloud.githubusercontent.com/assets/680356/15501607/ce1eb7a0-2184-11e6-8328-ce03e563a064.png)

Could you test that and let me know if it works?

[2016-05-24 11:14] plandevida commented on #167
I did it
![example](https://cloud.githubusercontent.com/assets/1167738/15501983/5d1d046c-21b1-11e6-9bd3-12750bb049ab.png)

[2016-05-24 12:03] maxcnunes commented on #167
Ok. I have found the problem. The test connection with SSH Tunnel is not working without saving the configuration. Try to save it then connect. It should work.

[2016-05-24 13:13] plandevida commented on #167
hi, now work, thanks.

[2016-05-24 20:24] #144 closed

[2016-05-25 10:08] #117 closed

[2016-05-25 10:08] #155 closed

[2016-05-25 11:42] BornaP commented on #142
Close via #169

[2016-05-25 11:42] #142 closed

[2016-05-25 12:53] denysvitali commented on #143
Same error here in Arch Linux,
I installed all the packages but this is what I get while dist-compiling:

[code]
`TypeError: Path must be a string. Received undefined` while running `./dist/Sqlectron-linux-x64/Sqlectron`
![screenshot from 2016-05-25 14-28-46](https://cloud.githubusercontent.com/assets/4939519/15539835/03b14e04-2285-11e6-96b4-239e0affdeed.png)
---

Okay, I was able to build it in A

[2016-05-25 12:59] BornaP commented on #143
Thank you @denysvitali !

[2016-05-25 13:22] Grelek commented on #143
@denysvitali Ok, I'll try it. I wanted to make an AUR package for SQLELECTRON but those problems slowed me down and I didn't have time to solve them. :smile:

[2016-05-26 11:34] #166 closed

[2016-05-26 11:36] #167 closed

[2016-05-26 16:25] maxcnunes opened #174 "Takes almost 1 minute to render 100 rows with JSON type (PG)"

[2016-05-26 16:32] darkwisperer commented on #168
Good idea. node-keytar looks to be a solid choice.

[2016-05-27 09:55] CommanderXL opened #177 "I can't open in on mac os 10.11"
Well. I can't open the gui. My mac os is 10.11 and I download Sqlectron-1.8.0-mac.zip

[2016-05-27 10:26] maxcnunes commented on #177
Hi @CommanderXL,

My Mac is `10.11.4`. I have tested both `Sqlectron-1.8.0-mac.zip` and `Sqlectron-1.8.0.dmg` and they are working properly for me.

Have you tried the `Sqlectron-1.8.0.dmg` as well?

Is there any error message on opening the app?

[2016-05-27 22:44] #146 closed

[2016-05-28 15:04] CommanderXL commented on #177
Yeah.I have tried Sqlectron-1.8.0.dmg , it can't as well.

Does it look like the mac os  must be 10.11.4 ?

[2016-05-28 15:55] maxcnunes commented on #177
I dont think that. There is a guy at my office that uses  Mavericks version and sqlectron works for him.

Maybe is not running because you have not allowed apps from unidentified developer. Could you check that?

[2016-05-30 14:03] safinn opened #178 "no pg_hba.conf entry for host"
Trying to connect to a PostgreSQL database using 1.8 mac, I get the error `no pg_hba.conf entry for host...`. I tried a different client and it managed to connect fine. The database is the free Heroku PostgreSQL one.

Any ideas?

[2016-05-30 14:23] maxcnunes commented on #178
Looking in these error on [stackoverflow](http://stackoverflow.com/questions/17377118/heroku-database-connection-properties) seems you have to connect over HTTPS. Try to enable the `SSL` option on sqlectron server connection.

[2016-05-30 14:25] safinn commented on #178
I have enabled SSL using the toggle. I also double check in the `.sqlectron.json` file and the server has `"ssl": true,` but still getting the same issue.

[2016-05-30 15:51] maxcnunes commented on #178
I just remembered there was a bug not setting the SSL attribute on PG connections. It was fixed [here](https://github.com/sqlectron/sqlectron-core/issues/16). But we have not released a new version after that. I'm planing in release it this week. Sorry for the trouble.

[2016-05-30 15:53] safinn commented on #178
Perfect. I'll wait for the update. Thank you for your help.

[2016-05-31 20:32] maxcnunes commented on #129
I have spent some time trying to figure out the best way to replace the IPC call with data stream. These are the results of the tests with stream for each client:

* **mysql** - Has support to stream single or multiple query statements.
* **pg** - Has support to stream only single query statement.
* **mmsql** - I have not tested. Not sure if has support to stream multiple query statements.

Since

[2016-06-01 10:37] sbrocos opened #179 "I want use .pem file to connect to DDBB"
I need connect to my remote ddbb using .pem file and I can't
use Ubuntu as S.O.

[2016-06-01 10:39] #179 closed

[2016-06-01 10:40] sbrocos commented on #179
Sorry...
Active switch ssl and I CAN CONNECT TO REMOTE DDBB WITH .PEM FILE

[2016-06-01 11:11] maxcnunes commented on #179
Do you need use the .pem file to connect into a server through SSH Tunnel? I guess including the .pem file as **Private Key** should work. Does that not work?
What is the DB type your are trying to connect?

[2016-06-01 14:01] BornaP commented on #165
**UPDATE:**
After including [latest changes](https://github.com/sqlectron/sqlectron-core/pull/21) in sqlectron-core, this is what I got so far:

![wip digram0 1](https://cloud.githubusercontent.com/assets/8470710/15711885/5ce67892-2810-11e6-9201-8d99d96887e9.png)

It's working on live data! (on picture it's some sample database I had locally)

Most time it took me debugging JointJS in modal window

[2016-06-01 15:20] maxcnunes commented on #165
It is looking pretty cool. I agree with all your suggestions of implementation. They seem the right approach.

[2016-06-01 22:30] ghedwards opened #180 "Performance issues"
Performance issues / comments
- Query results view with large column set seems to perform badly, I've experimented with react-virtualized and slickgrid. Slickgrid seems to perform the best.
- Tables tree causes query editor to be quite laggy when there are a lot of tables.

[2016-06-01 22:42] BornaP commented on #180
Thanks for the feedback @ghedwards ! We are aware of the first point you made. Regarding the second one, could you explain a bit more, how much tables do you have? Do you find it laggy because of live auto complete? Because I did not find it to be laggy on databases with around 130 tables. (without using auto complete feature).

[2016-06-01 22:45] maxcnunes commented on #180
I have replaced the vanila HTML table with [fixed-data-table](https://github.com/facebook/fixed-data-table). I have not published yet because the build on CI is not working properly due http://stackoverflow.com/a/37559463/1050818. In the next release it should present a better performance.

[2016-06-01 23:23] ghedwards commented on #180
fixed-data-table seems to have performance issues as well and the project seems to be abandoned and not compatible with new versions of React? Slick grid is ok, but seems too to be a bit of a dead end, I've started looking at / coding https://bvaughn.github.io/react-virtualized/ as a replacement.

[2016-06-01 23:25] ghedwards commented on #180
1045 tables.. no further comment about the tables issue for now..

[2016-06-01 23:35] maxcnunes commented on #180
Not sure about the performance issues with fixed-data-table. But that is really not actively maintained over the last months. But what I have looked in react-virtualized I could not find support for grid with a header rows. That is why at the end I have used fixed-data-table.
Could wait until the next release to check if the performance has improved?

[2016-06-01 23:37] ghedwards commented on #180
100+ rows, 50+ columns.. scroll is laggy and slow. Running straight from master.

[2016-06-01 23:50] maxcnunes commented on #180
😢  Sorry, but I have just replaced the vanilla HTML table with fixed-data-table. I'm not really in the mood right now to rewrite it again with another library. Although a PR would be gladly accepted 😄

[2016-06-02 21:59] ghedwards commented on #180
Done, just need to clean up the code a little and make it look a bit nicer. Might have a PR in the next few hours or so.
<img width="712" alt="screen shot 2016-06-03 at 7 58 30 am" src="https://cloud.githubusercontent.com/assets/125586/15762412/feae7610-2960-11e6-8d31-86fdc6f5af5e.png">

[2016-06-02 23:33] ghedwards opened #182 "Gitter for sqlectron ?"
Gitter for sqlectron ?

[2016-06-03 10:53] maxcnunes commented on #182
Sure a channel would be great. I already use Slack daily at my job. Could be Slack? Not sure which one is better.

[2016-06-03 14:43] BornaP commented on #182
:+1: for slack!

[2016-06-03 15:53] maxcnunes commented on #182
Done https://sqlectron.herokuapp.com

[2016-06-03 16:29] #182 closed

[2016-06-04 13:26] maxcnunes opened #184 "CI build is not working"
Is taking too long to release a new version because the CI build for Linux is not working properly due http://stackoverflow.com/questions/37558151/travis-ci-build-failing/37559463#37559463. For while I am just waiting for llvm repository be available again. But if takes too long probably we gonna need find another way without depending on llvm repository.

[2016-06-04 15:38] JediMindtrick opened #185 "Feature: Ability to view stored proc definitions for SQL Server"
First, nice work.

On v 1.8.0 there doesn't seem to be any way to view stored procedure definitions for SQL Server.  I am not sure about other databases or versions.

I think I'd be willing to work on adding this feature and submitting PR if the project team is interested.

Or, if I just somehow missed it, please let me know.

[2016-06-04 17:34] maxcnunes commented on #185
Hi @JediMindtrick,

Thanks for the proposed pull request. Although it has already been implemented by @BornaP. If you want to check it out before we release the next version you can run the app from the source.

[2016-06-04 17:40] JediMindtrick commented on #185
Great, and thanks for letting me know!   I think I will check it out since
I've actually been using this software at work and the feature is much
needed.

On Sat, Jun 4, 2016, 1:34 PM Max Claus Nunes <notifications@github.com>
wrote:

[2016-06-04 18:37] agodlydeciple opened #186 "problems typing in query window when connected to SSH Tunnelled database"
|  Version  | Database Client
|---|---|
|  1.8.0  | MySQL

---

When typing in the query box when connected to a server through an SSH tunnel, the text disappears or get's overwritten, when typing normally. Only way to avoid the text overwriting / disappearing is to type each individual character.

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/683837/15801415/60dea762-2a59-1

[2016-06-04 18:49] maxcnunes commented on #186
Hi @agodlydeciple,

That is weird. Most of the connections I use are over SSH tunnel and that does not happen to me.

[2016-06-04 18:54] agodlydeciple commented on #186
yup it only is like that with the SSH tunneled Server. It doesn't do that with my local mysql dev server I use on my laptop.

Another weird thing is when you double click a database when Tunneled  it doesn't open it.  The only way to see the tables in a database is to type a `show tables;` in the query window.

[2016-06-04 19:32] maxcnunes commented on #186
On typing in the query box the behaviour should be the same independently whether is a local connection or a remote connection through a SSH tunnel. Since it does not happen to me is hard for me trying to fix it. I guess you could avoid this problem by disabling the auto complete, just include `"enabledAutoComplete": "false"` on `~/.sqlectron.json`.

About to second problem, that does not happen t

[2016-06-04 19:38] agodlydeciple commented on #186
No worries, chances are there is something weird with my particular setup.

where would I add `"enabledAutoComplete": "false"` in the `~/.sqlectron.json` file? I have tried before the servers tag and within the specific server definition and each time sqlectron doesn't load correctly.

[2016-06-04 19:56] maxcnunes commented on #186
This way:
![screen shot 2016-06-04 at 4 55 46 pm](https://cloud.githubusercontent.com/assets/680356/15801752/3fc32d20-2a75-11e6-8705-5957423de6d0.png)
But seems it is not working anymore 😢 . I'm investigating that.

[2016-06-04 20:03] #186 closed

[2016-06-04 23:14] BornaP commented on #185
@JediMindtrick First off, it's great to hear you use it often at work :) Secondly, this feature has been implemented with f02161f76eb0d696ea5219ab6e7a0cd1960b382c and 9073f2512cc2751049b11889c890b65f21875870. As Max mentioned earlier, you have to pull latest changes from master to have this option available since no new release has been published since implementing that.

Option is available on ri

[2016-06-04 23:14] #185 closed

[2016-06-05 20:54] eMerzh opened #187 "introduce Table View"
I'm a bit confuse about the absence of "table view" in sqlectron..
probably due to his age :)
here is my "mock-up" take on the table view:

the idea is to have at least 2 tabs, one with datas the other with structures and other infos....
later we can add relations, indexes, or other info in tabs...

what do you think about this...
these are only the first thoughts

<img width="676" alt="capture d

[2016-06-05 22:47] maxcnunes commented on #187
This feature would aggregate a lot to the app. Although it is something usually I don't really use in a SQL client. Because of that I'm not interesting im coding it my self. But I would gladly accept a PR 😄

As I said I have not used so much this kind of feature in other SLQ clients. So I have some questions:

1. Does the "Info" tab show the information about the columns such as: name, type, if is

[2016-06-05 23:04] #184 closed

[2016-06-06 07:20] eMerzh commented on #187
yeah here is an updated version ...

i understand that it wasn't really a priority ... but i wanted to know what the team think about it ...

For the first question, i was thinking about the sql description of the create table with nullable, with default, ...

And for the 3rd tab, yeah i think it's a good idea... not sure yet wat we can / can't put in it ... but
i was wondering if we couldn't also

[2016-06-06 16:20] BornaP commented on #185
@JediMindtrick This feature is now available in new release v1.9.0 :)

[2016-06-06 19:39] eMerzh opened #190 "UI issue when only one record and horizontal scroll"
I've juste updated to the latest 1.9 (congrats for the release 👍 )

and i got a small ui issue when there is an horizontal scroll bar and only 1 record

All Good:
<img width="488" alt="capture d ecran 2016-06-06 a 21 37 28" src="https://cloud.githubusercontent.com/assets/177003/15835205/2c20b6aa-2c2f-11e6-8037-57319010bf24.png">

Not Good:
<img width="503" alt="capture d ecran 2016-06-06 a 21 37 4

[2016-06-06 20:17] maxcnunes commented on #190
What OS are you using? I saw this problem occurring in a Linux today. But that have not happened to me at anytime during the tests on Mac.

[2016-06-06 21:06] eMerzh commented on #190
OSX 10.11.5
MacBook Pro (Retina, 15-inch, Late 2013)

hope this helps..

[2016-06-06 22:58] maxcnunes commented on #187
Let me se if I have understood:

* Tab 1 - Structure: Show the SQL script of the table structure.
* Tab 2 - Content: Show the table data. With a `WHERE` filter?
* Tab 3 - Info: Show information about the table. Such as the size, number of rows, and etc.

If the Tab 2 really shows the table data I think that is not gonna work for large tables. Otherwise we would need paginate the result to not caus

[2016-06-07 08:24] eMerzh commented on #187
@maxcnunes
my idea wat to give content tab when you double click on the table in the sidebar...
un filtered but limited to 1000 records or so...

then you have the choice to filter using the where field (sort of search)  or to create your own query as now... with select rows (with limit).

but i understand that it might not be the point of the tool

[2016-06-07 09:36] BornaP commented on #190
This also happens on Ubuntu (15.04), but only when I try to resize column width.

[2016-06-07 09:48] BornaP commented on #187
If we are ever going to have DB statistics (like allocation on disk, pages and stuff) I think better feature would be to make it visualized. Pure data in text form can be retrieved through SQL anyways (and is available in every SQL editor). On the other hand, for example, showing disk allocation per table as tree map graph would make much more sense for the end user :)

But as someone said earlier

[2016-06-07 10:23] eMerzh commented on #187
@BornaP yeah why not tree map ...  i was also thinking about table relationships with other table (using the PR about relationships)

[2016-06-07 10:56] maxcnunes commented on #187
Well, that is a lot of stuff 😄  Maybe starting with a single tab (the one that is more useful for you) I guess would be better.

[2016-06-07 10:58] vundyalaavinash commented on #190
+1

[2016-06-07 11:07] maxcnunes commented on #190
@eMerzh I could reproduce following your steps. I will try take a look on this.

[2016-06-07 11:13] BornaP commented on #187
@eMerzh As Max said, one thing at the time. Start with a single feature you find most useful :)

[2016-06-07 11:27] BornaP commented on #177
@CommanderXL Have you tried what Max suggested, allowing apps from unidentified sources? Or running version 1.9.0?

[2016-06-07 12:45] maxcnunes commented on #178
The new version with the fixing for this bug was released yesterday.

[2016-06-07 12:45] #178 closed

[2016-06-07 14:56] eMerzh commented on #187
yeah i know... this was more about the "big plan" ... seeing if we somewhat agree on the feature..
i'm interested in developping it, but not sure i have the time :)
i'll start small :p

[2016-06-07 20:31] eMerzh opened #191 "Autocomplete highlight look blurry on Retina"
The orginial version look like this
<img width="374" alt="blurry" src="https://cloud.githubusercontent.com/assets/177003/15873533/6e930846-2cff-11e6-96de-803d1838dd9e.png">

it seems that they use a trick :

to have bold, because the used font does not really distinguish fonts weights

i try to tweak the trick and these settings seems to look better here... (yet not perfect)
am i the only one affe

[2016-06-10 22:12] xingped opened #193 "Switch database after connecting?"
So I have a local postgresql installation and when I connect, i can see my two databases, but I can't actually switch between databases. I know I can set which database I connect to in my connection settings prior to connecting to my postgres installation, but it'd be nice to have some way to switch the active database once I'm already connected. (Unless there's already some way to do this that I

[2016-06-10 22:55] BornaP commented on #193
You can switch databases by simple double clicking database name on the side menu. It will open new query tab which will be related to that database connection.

Also you don't have to specify your database when connecting on database server, it's optional :)

[2016-06-10 23:00] xingped commented on #193
Oh awesome, thanks!

[2016-06-10 23:02] BornaP commented on #193
You're welcome. Thanks for the feedback, probably indicator we should improve UX on that.

[2016-06-10 23:02] #193 closed

[2016-06-11 21:11] joeblew99 commented on #165
@BornaP
This is awesome. I was thinking about doing type of functionality last week.

I was wondering if you have thought about how the ERD auto layout works ? Not many people have heard of the concept of "Crows feet up" in ERDS, but i have found it to work wel with every DB schema i have worked on. Essentially it means that the things you are referencing are located on the page above the other ta

[2016-06-12 07:56] BornaP commented on #165
Hey @joeblew99 ,thanks for the feedback. The 'other way' you have mentioned is actually currently implemented (the SQL Server way) in the master. New tables are added in front of the others, so devs can move them as they like and SAVE the layout. This is fully resolved with #192 .

I'm don't think first approach you mentioned would be good in our case as it might make use of 'paper' badly, because

[2016-06-12 10:10] joeblew99 commented on #165
Sounds good . All of it.

What about saving the view, ? Json format is fine.
You could save the view in the a tual dB.

On Sun, 12 Jun 2016, 09:56 Borna Perak, <notifications@github.com> wrote:

[2016-06-12 11:04] BornaP commented on #165
I'm not sure I quite understand you. We're already saving the whole diagram into a JSON as a file, so that user can load it from file. All tables, links (their 'view') and their positions are saved, actually whole SVG is saved and you can manipulate the diagram when you open it as you want.

I don't think there is a need to save a diagram into a actual database, as this application uses none. This

[2016-06-12 14:06] JediMindtrick commented on #185
Got it, looks good.  Thanks.

[2016-06-12 15:02] #190 closed

[2016-06-12 16:44] joeblew99 commented on #165
ah did not see that - awesome stuff :)

[2016-06-12 16:45] joeblew99 commented on #165
i wil try it out.

[2016-06-14 14:39] sombriks opened #197 "rpm version"
RPM version would be quite useful for fedora/redhat/centos/suse users.

[2016-06-15 21:16] BornaP commented on #165
Since the feature was implemented with #189 and further enhanced with #192 , #194 ,#195 and #198 , I'll close the issue. Further enhancements or possible bugs should be discussed in their own issues.

[2016-06-15 21:16] #165 closed

[2016-06-16 12:19] vikas-0 commented on #197
yes, rpm version

[2016-06-16 23:33] maxcnunes commented on #197
@sombriks @vikas-0 could you check this works for you? https://github.com/sqlectron/sqlectron-gui/releases/tag/v1.10.0

[2016-06-17 21:36] xingped opened #199 "Selecting two columns with the same name from two different tables will result in the second column overwriting the first in the results"
[code]

[2016-06-18 19:43] maxcnunes commented on #180
Closed on https://github.com/sqlectron/sqlectron-gui/commit/678f7429f6d779cabbb6dcab3eb2f31a3bf90c04

[2016-06-18 19:43] #180 closed

[2016-06-18 19:44] maxcnunes commented on #177
Since I have not heard of you in almost a month I going to close this issue. I hope that has worked for you. Otherwise, please just re open this issue.

[2016-06-18 19:44] #177 closed

[2016-06-18 20:40] maxcnunes commented on #199
Seems it is a problem in the node DB clients. I have tested on [mysql](https://github.com/felixge/node-mysql) and [postgres](https://github.com/brianc/node-postgres) and the problem occurs in both.
I am including here a screenshot of the problem then is easier to show the problem in the issues am going to open the in DB clients.
![screen shot 2016-06-18 at 5 38 35 pm](https://cloud.githubuserconte

[2016-06-18 20:58] maxcnunes commented on #143
@Grelek now sqlectron has installer support for more Linux distros. Does the pacman or any other works for you? https://github.com/sqlectron/sqlectron-gui/releases/tag/v1.10.0

[2016-06-21 08:26] gauravarora opened #201 "Support for sequences"
I am using postgresql and I noticed that my sequences are not visible. Is this not added or am I looking in the wrong place?

[2016-06-21 15:20] maxcnunes commented on #199
The solution for this problem is referenced in those issues. I have not really much time to implement that right now. So, anyone interested on that, please do.

[2016-06-21 15:29] maxcnunes commented on #201
We do not list the sequences. Although I would gladly accept a PR for that 😄

[2016-06-22 06:04] gauravarora commented on #201
@maxcnunes I assume this will require changes to electron-core as well? I'd like to give the PR a shot.

[2016-06-22 10:50] Grelek commented on #143
Hi I tried pacman and sh version and none of them works for me. pacman package has some problems with dependencies.

[code]

[2016-06-22 11:33] maxcnunes commented on #201
Awesome. Exactly, would require changing the core and the gui projects.

[2016-06-22 13:02] maxcnunes commented on #143
@Grelek I guess I have fixed that. Could you check again please? https://github.com/sqlectron/sqlectron-gui/releases/tag/v1.11.2-beta.0

[2016-06-22 13:11] Grelek commented on #143
@maxcnunes This works like a charm, thank you. :-)

[2016-06-22 13:43] maxcnunes commented on #143
Awesome 🎉

[2016-06-22 13:43] #143 closed

[2016-06-30 19:34] bbiagas opened #202 "Add ability to rename query tabs"
Currently, the only way that I see available to rename a tab is if you choose to save a particular query to disk. I think there's a valid use case for wanting to rename tabs while you're doing some work in a session to keep yourself organized without having to create a bunch of files you might not want.

[2016-06-30 19:46] bbiagas opened #203 "Passwords in sqlectron.json are stored in plain text"
Passwords for a server configuration are hidden from the user within the GUI, but are stored as plain text on disk inside the sqlectron.json file. JSON configuration is very handy, but database/ssh passwords should not be accessible in this way.

[2016-07-03 23:18] maxcnunes commented on #202
I don't think other apps has this option. But if anyone is interested in implementing it I would gladly accept a pull request.

[2016-07-03 23:21] maxcnunes commented on #203
It is duplicated https://github.com/sqlectron/sqlectron-gui/issues/168. Closing it in favor of the other issue.
I don't have much time to implement it now. I hope do this in the future. But if anyone is interested in implementing it earlier I would gladly accept a pull request 😄

[2016-07-03 23:21] #203 closed

[2016-07-04 12:40] plandevida opened #204 "One row result clipped by scroll"
Hi,

When the result has only one row, it shows clipped by scroll bars.

Regards.

![whatsapp-image-20160614](https://cloud.githubusercontent.com/assets/1167738/16560713/616b276a-41f5-11e6-889c-618603c536ae.jpeg)

[2016-07-04 18:49] VisualBean commented on #204
Im about to create a PR to fix this

[2016-07-07 11:53] plandevida commented on #204
Hi guys,

I uploaded a PR fixing it [https://github.com/sqlectron/sqlectron-gui/pull/205](url).

[2016-07-10 23:16] maxcnunes commented on #204
Closing it, since this has been fixed by @plandevida on #205.

[2016-07-10 23:16] #204 closed

[2016-07-12 21:11] maxcnunes commented on #197
Closing it since I have not received any response. Please reopen it in case that does not work.

[2016-07-12 21:11] #197 closed

[2016-07-12 22:20] sombriks commented on #197
Hello max sorry for delay.

i tried the rpm listed however with no luck.

i got this on my console:

[code]

[2016-07-12 23:01] maxcnunes commented on #197
@sombriks no worries. That problem should be fixed in the latest version. Could you try that out?
Thanks

[2016-07-12 23:15] sombriks commented on #197
@maxcnunes Indeed!

it's up and running, thank you so much!

![captura de tela de 2016-07-12 20-13-41](https://cloud.githubusercontent.com/assets/556695/16786705/3dc32136-486d-11e6-8813-56902404f867.png)

[2016-07-16 02:48] dkontorovsky opened #207 "Unnecessary scrolling on query results"
Hi,

First of all, great job on this client. It is superb!

It seems that the height assigned to the results grid after executing a SQL query may not be getting the right value. For example, if there are only 2 or 5 rows in the results, and there is enough vertical space to display the rows, you still get a vertical scroll bar and you need to scroll down to see some results.

I was using MySQL on

[2016-07-16 11:46] #207 closed

[2016-07-18 15:31] maxcnunes opened #208 "Get the same scrollbar appearance of Mac on Linux and Windows"
On Mac the scroll bar is hidden when is not scrolling which gives a pretty good interface. Although I have just realized the same does not occur on Linux and I guess on Windows as well. The scroll bars are always visible.

[2016-07-18 20:17] krainboltgreene opened #209 "Not enough error context"
A bad query that results in an error will only show a single line, whereas on postico it shows the full context of the error.

[2016-07-19 11:55] maxcnunes commented on #209
Could you give an example of that? For me the error messages are pretty helpful:

![screenshot from 2016-07-19 08-43-05](https://cloud.githubusercontent.com/assets/680356/16948990/72ba8a7a-4d8e-11e6-99bf-1e84acf7f62a.png)

[2016-07-19 14:45] krainboltgreene commented on #209
Here's an example of where Postico gives more detail (if not much more context), but it's really relevant when you get failing stored procedures.

<img width="1431" alt="screen shot 2016-07-19 at 7 43 59 am" src="https://cloud.githubusercontent.com/assets/334809/16954155/a019844e-4d84-11e6-875a-8d5c20db9820.png">
<img width="703" alt="screen shot 2016-07-19 at 7 44 11 am" src="https://cloud.github

[2016-07-19 16:49] maxcnunes opened #210 "Shortcut "New Tab" does not work on Linux"

[2016-07-19 16:50] maxcnunes opened #211 "Query "EXPLAIN/EXPLAIN ANALYZE" (postgres) does not work"
Instead of show the analyzed result. It only shows the message that the query has been executed.

[2016-07-19 23:18] maxcnunes commented on #210
This works. Is just not possible to execute from inside the query box.

[2016-07-19 23:18] #210 closed

[2016-07-20 00:36] #208 closed

[2016-07-20 06:07] tsvetkovpro opened #212 "demo example don't work"
why demo don't wokr?

[2016-07-20 10:57] maxcnunes commented on #212
That is weird. Opening the [link](https://sqlectron.github.io/demos/sqlectron-demo-gui-v1.0.0.gif) directly works. I could not find the reason that is occurring there. Well, is time to upgrade the demo gif. I will wait for that to fix the preview.

[2016-07-29 13:04] kstr commented on #153
I noticed that tables from another schema are simply not listed on the left side of the screen, but it is possible to include them in a query.  I miss this feature since we use a custom scema in all our databases.

[2016-07-29 13:06] krolow commented on #212
It has exceed the size, perhaps if we resize the gif github will allow again

[2016-07-29 13:12] krolow commented on #212
Fixed a4440034242164cd433168ac5c2821ac7a41eda1

[2016-07-29 13:12] #212 closed

[2016-08-03 20:47] airdrik opened #213 "Windows domain required for login to Sql Server"
In our, and probably many other environments employing SQL Server, logging in to the server may require providing the Windows domain along with the username and password.
Often this can be provided by specifying it in the username like: "MYDOMAIN\myuser".  However, when I tried this (and other variants using one or two back or forward slashes) it still rejected my login attempt.

Please add an opt

[2016-08-03 20:53] maxcnunes commented on #213
Could you provide the error message?

[2016-08-06 18:17] airdrik commented on #213
Just a generic login failed.
If there's some way to get a more specific message, I can look into that on Monday

[2016-08-06 21:07] maxcnunes commented on #213
Ok, only that is enough. The app does not have any log file.
The library we use [node-mmsql](https://github.com/patriksimek/node-mssql) has a `domain` property in the connection for what you need. But we have no included that.
Since I don't use mmsql this feature is low priority for me. Not sure when I will be able to implement it. If you are interested in implementing it I could show to you the p

[2016-08-06 23:41] airdrik commented on #213
I could probably do that.

On Sat, Aug 6, 2016, 3:07 PM Max Claus Nunes <notifications@github.com>
wrote:

[2016-08-09 16:37] claudio-silva opened #214 ""Select Rows" menu item could automatically give meaningful names to tabs"
MySQLWorkbench, for instance, names the tabs with the table name being referenced on the query, so if we right click the Users table, for instance, and pick "Select Rows", a tab will open with the query and it will be named "Users".
That is very useful to distinguish between tabs, otherwise you'll have to open each one in turn to remember which table was being queried (as "SQLFile 1", "SQLFile 2",

[2016-08-09 22:57] krolow commented on #214
what happens in MySQLWorkbench when you select more than one table at once?

[2016-08-10 07:44] BornaP commented on #214
I suggest naming tabs after database connection, instead of selected tables as several queries on different tables may be chosen in the same SQL tab.
If more then one tab is opened on the same database connection, it could be suffixed with integer. Ex. 'information_schema', 'information_schema 2' and so on.
This would give user quite useful info to distinguish tabs.

[2016-08-10 09:32] claudio-silva commented on #214
@krolow In MySQLWorkbench you can't use the "Select Rows" menu item when right clicking on multiple tables, it's only available for a single table.
MySQLWorkbench still names other query tabs as "Query 1", "Query 2", etc.
It only gives non-generic names to tabs when they are loaded from a file, or when they are opened from the "Select Rows" command on a single table.
Still, most of the time, this

[2016-08-12 13:27] aborruso opened #215 "Feature request: adding support to sqlite"
Thank you

[2016-08-12 14:07] maxcnunes commented on #215
This would be really good. Actually it has been requested already https://github.com/sqlectron/sqlectron-core/issues/26. @AngeloR was working on that. But I am not sure he had any progress on that.
If you are interested on implementing it I would gladly accept a PR. Otherwise I probably will implement it in the future. I just don't know when :smile:

[2016-08-12 14:17] waltton opened #216 "There's no mention of the wiki in the readme"
Took me a time to find the shortcuts in the wiki, would be nice to have mentioned in the readme that the wiki has some documentation.

[2016-08-12 15:05] aborruso commented on #215
@maxcnunes thank you for your reply. I'm not able to implement it :(

[2016-08-15 13:44] alangregory opened #217 "No results found"
Client returns "No results found"  even if i know there are results.

**Database**: postgresql
**Sqlectron version**: 1.12.0
**O.S.**: Elementary OS Freya 0.3.2

[2016-08-15 14:30] maxcnunes commented on #217
That is weird. Lets try to understand what is going on:

* Are you executing a select statement?
* Are you executing a single statement or multiple statements?
* Does executing it on another sql client gives a different result?

If you could provide the sql statement you are using or a modified version of that would help.

[2016-08-15 14:36] alangregory commented on #217
Yes, select statement -> `SELECT * FROM "connections" LIMIT 50;`
Query via cli or using Navicat gives a  diferent result

[2016-08-15 14:42] alangregory commented on #217
Tested now, it works with sqlectron-term.

[2016-08-15 14:58] maxcnunes commented on #217
Sorry, I really don't know what is going on. It is working for me on Ubuntu 16.04; Sqlectron 1.12; Postgres;

Here is a similar query:
![screenshot from 2016-08-15 11-57-33](https://cloud.githubusercontent.com/assets/680356/17668427/85d3a96e-62df-11e6-99b0-4dcb8bec10e4.png)

[2016-08-15 15:17] alangregory commented on #217
Found that mysql works fine , i think potsgresql may be running an outdated version, i'll try it again after update.

[2016-08-15 15:17] #217 closed

[2016-08-16 23:02] maxcnunes commented on #216
You may have not noticed but there is link to the shortcut list in the app.
![screen shot 2016-08-16 at 7 57 54 pm](https://cloud.githubusercontent.com/assets/680356/17718776/220529c2-63ec-11e6-8eba-f92e9442043b.png)

Anyway, you are right. I have included that in the readme as well. Thanks.

[2016-08-16 23:02] #216 closed

[2016-08-17 13:03] ignacio-ifm opened #218 "Execute only selected parts of the SQL file"
DB: Postgres
Version: 1.12.0

Other SQL clients allow the user to execute only the selected part of the SQL in the editor. It is a useful feature because it allows the user to have all commands related to the same task in a single file.

[2016-08-17 13:07] ignacio-ifm opened #219 "Keep connection open for new transactions"
DB: Postgres
Version: 1.12.0

PGAdmin (and other SQL clients) allow the user to start a transaction with

`BEGIN;`

then execute some statements (by selecting parts of the text) and end with a:

`COMMIT;`

or

`ROLLBACK;`

when changes should be discarded.

[2016-08-17 13:15] maxcnunes commented on #218
Are you sure it is not working? This feature is already included in the app.

[2016-08-17 13:16] ignacio-ifm commented on #218
I see now that this is already possible via the ui, sorry for the wrong report.

[2016-08-17 13:16] #218 closed

[2016-08-17 13:29] maxcnunes commented on #219
I guess it should work, since the tab always uses the same connection. But since I have never tested it out, I will need check it better.

[2016-08-17 14:26] ignacio-ifm commented on #219
I checked it further, it works. I just was not used to the fact that tabs in the same window share the connection so to actually check it is better to have other window (with a new connection).

[2016-08-17 14:26] #219 closed

[2016-08-22 00:23] commondream opened #220 "Doesn't Install on Windows"
On Windows it says it's installing, but I end up without any icons anywhere. What's the expected behavior?

[2016-08-22 00:52] maxcnunes commented on #220
Is it occurring with which version? If it is occurring on 1.13.0, could you check if it works with the previous version 1.12.0?

[2016-08-22 01:29] commondream commented on #220
I just tested, and it's happening with both versions. Let me know if there's anything else I can check for you.

[2016-08-23 20:18] maxcnunes commented on #220
I have tested today the latest version on windows 10 64bit. That is working. Are you using a 32bit OS? Currently we only have support on Windows for 64bit.

[2016-08-23 20:18] commondream commented on #220
I'm using it on a surface pro 4. It runs fine, just doesn't install. Every time I click on the download it shows a dialog that says it's installing, and then opens the app, but it's never installed anywhere.

[2016-08-23 20:40] maxcnunes commented on #220
I have no Surface to test. I have opened an issue in the installer library to check if there is a way to fix that.

[2016-08-23 22:08] elhh82 opened #221 "Allow queries to be cancelled while it is executing"
This is different from https://github.com/sqlectron/sqlectron-gui/issues/87

currently once a query is issued and the db is processing there is no way to cancel a query. Sometimes you want to do this because your realized you did something bad.

I think the client is pretty much unusable without this.

[2016-08-24 13:06] BornaP commented on #220
@commondream I think it might be problem related to electron framework and Windows platform. I found out the same problem with Atom editor and 32-bit WIndows 7 some time ago. Application is 'installed' but cannot be seen under '_Programs and Features'_. One solution is to make shortcut on desktop/menu-bar right after application starts for the first time. That way you should always be able to star

[2016-08-26 13:09] commondream commented on #220
I was able to confirm that it did install but didn't add anything to the start menu. It's showing in my Apps list under settings. I'll just set it up in the start menu manually.

Want me to rename this to "Windows install doesn't set up start menu shortcut"?

[2016-08-26 13:44] maxcnunes commented on #220
Sure, that is better.

[2016-08-26 18:15] darkwisperer commented on #97
Still persists in v1.13.0

[2016-09-01 22:07] maxcnunes commented on #221
Ouch "pretty much unusable" :cry: Even without that feature I think this app still quite useful. At least I have never needed to do that using this app or even with any other client. But I get your point, that would be a great feature.
I have seen some people doing that manually, listing the queries running in the database and killing them. I guess that is something you can do in any database. Cou

[2016-09-04 20:19] #211 closed

[2016-09-05 23:28] #214 closed

[2016-09-06 07:17] BornaP commented on #214
Nice 👍

[2016-09-09 07:25] derek9gag commented on #217
I am getting the same issues - no results when I am 100% sure there are.

My set up is similar : sqlelecton, 1.15.0-305; Ubuntu 16 - the backend is Amazon Redshift.

An example of query I try to run : `select * from stats limit 1;` The table is definitely non-empty, I can do the same query (as same user) via psql cli.

How do I get more information to troubleshoot?

[2016-09-09 12:40] maxcnunes commented on #217
That is really weird. I don't see how that could happen. Nowadays there is no easy way to debug the app in the release version. You probably would need to run the app from the source and include some logs manually to see what is going on. If you are interested on doing that and need help on how to do that, just let me know.

[2016-09-10 19:47] eMerzh commented on #221
mmh i think pgadmin does this, and sequelpro too.

[2016-09-11 00:06] elhh82 commented on #221
I think any decent SQL Client does this, I would think this is one of those super basic functionalities. So far we've been using navicat lite, it allows cancels, we also tried wagon and thas also allowed cancels. In fact my favourite client psql allows cancels via ctrl-c :)

Every one makes big mistakes and especially if you're working with big datasets, those mistakes can be painful and being abl

[2016-09-11 00:24] maxcnunes commented on #221
Fair enough. I have investigated the implementation for this feature and seems only mysql is gonna a bit more complicated.

* **postgres** client has support already to cancel the query. [reference](https://github.com/brianc/node-postgres/blob/b1b2801c710d550f2b10910dfd49ad51bbf569fd/lib/index.js#L81)
* **mysql** does not have support, would require finding the current process id and killing it [r

[2016-09-11 21:02] eMerzh commented on #201
the issue is that it triggers a lot of questions about what we want to display or not.... postgres as a huge number of distinct things we might want to display ... even pgadmin, which is quite dense, limit the number of things by default...
here is a list of things listed by pgadmin.

[code]

[2016-09-12 03:34] jbencina opened #223 "Open query from file"
I tried searching through the issues and online, but I can't seem to find any way to open a saved query into a tab (using Windows GUI client). My menu just allows to Save Query.

[2016-09-12 05:50] lordloh commented on #167
I am using 1.15.0 and I am having the same problem and saving the connection does not help to either test or to actually connect. I have this problem on Windows, The linux installation seems to work fine.

[2016-09-12 05:54] lordloh commented on #167
Deleting the connection and creating a new one with the exact same configuration worked!

[2016-09-12 22:02] maxcnunes commented on #201
I guess all that could be included in the sqlectron eventually. But I think is better include one item per time. Small tasks have more chance to be completed than larger tasks. Also I believe including the items as we need them somehow will keep the app simpler to use. Since there are only useful features.

[2016-09-12 22:07] maxcnunes commented on #167
Weird. In case it occurs again, please try to find on `~/.sqlectron.json` the configuration for the problematic connection and include that in the issue (change secret values before that). That might help find what is the problem.

[2016-09-13 06:45] eMerzh commented on #201
ok, but by that i meant that we might have to think about a way to display those info without cluttering the screen... even if we implement half of them the list is still huge...

but i'm happy that you consider adding all of these :)

[2016-09-13 19:02] maxcnunes opened #224 "Allow to cancel a on going connection"
Nowadays is gonna get stuck in "Connecting to database..." until get "Connection timeout" depending on the problem during a new connection.
A button to cancel the on going connection would help to not have to wait until the connection timeout.

[2016-09-14 18:15] maxcnunes opened #226 "Add wrapper in all columns for the generated scripts (insert, update, ...)"

[2016-09-15 18:53] dbkaplun opened #227 "Is there a way to show the DDL for a table?"
Would like to see the SQL used to create a table (columns, indices, etc) in a DB much like DataGrip.

[2016-09-15 21:13] maxcnunes commented on #227
Right click over a table in the sidebar shows a context menu with an option `Create Statement`. Is that what you need?

[2016-09-15 22:53] dbkaplun commented on #227
`Create Statement` is close to what I'm looking for, but it does not include indices and other data relating to the table. Also, the text "Create Statement" is not particularly obvious and a little scary.

[2016-09-16 15:48] bryantmakesprog opened #228 "Cant run development"
I can't seem to bring up the development environment. To be fair, this is the first project like this I've tried to setup though, so I could be doing something wrong. I'm using node v6.

**I Did This:**

Ran `npm run dev`

**I Expected This:**

Sqlectron to come up

**Instead This Happened:**

I received the following error:
[code]

Full Log:
[code]

[2016-09-16 16:02] maxcnunes commented on #228
Hi @bryantmakesprog,

Before running the project you have to install the dependencies.

[code]

[2016-09-16 16:05] bryantmakesprog commented on #228
Doing so seems to skip a number of dependencies:

[code]

[2016-09-16 16:08] maxcnunes commented on #228
Could you try to run the app to check if it may work without those skipped deps?

If still not working. Could you let me know what OS you are using. And also the NPM version your are using (`npm --version`).

[2016-09-16 16:13] bryantmakesprog commented on #228
I still get the same error when trying to run it. I believe I actually already did the `npm install` but couldn't recall for certain.

Ubuntu 14.04
NPM 3.10.3

[2016-09-16 16:21] maxcnunes commented on #228
Well should work with your environment configuration. Sometime NPM mess up the installation, if something goes wrong like network failure. Could you try removing the `node_modules` and installing again?

[2016-09-16 16:56] bryantmakesprog commented on #228
heh, that actually did it. Thanks!

[2016-09-16 16:56] #228 closed

[2016-09-17 11:09] maxcnunes commented on #227
I guess that name was copied from MySQL Workbench. Any better suggestion?
By [this definition of DDL](https://en.wikipedia.org/wiki/Data_definition_language) for `Create Table Statement` looks like we have got all the requirements:

For example, this is what I got from one of my tables on MySQL:
[code]

[2016-09-18 01:37] geekgonecrazy opened #229 "Database Refresh include views"
Database Type: Microsoft SQL Server

When right clicking on the database and choosing refresh:
![image](https://cloud.githubusercontent.com/assets/51996/18612104/1cd21d28-7d16-11e6-98d6-a4baf85a8919.png)

It looks like it updates everything but views.

Disconnecting completly and connecting again brings the views in that were added since connection.

Loving it so far. :) Glad to find another since

[2016-09-18 19:42] #229 closed

[2016-09-18 21:26] troycroz commented on #220
I'm am observing the same behavior, on 64bit Windows 7

[2016-09-18 21:32] eMerzh opened #233 "Misalignemnts in results header / data"
i was doing a request with more columns than what fit in the screen and sqlectron gives me a weird alignment of the column names with the data ...

<img width="902" alt="capture d ecran 2016-09-18 a 23 29 48" src="https://cloud.githubusercontent.com/assets/177003/18619255/1a63bb7c-7df8-11e6-8f41-62107c823b7b.png">

[2016-09-18 23:05] maxcnunes commented on #220
When this issue was created I tried investigating what could be causing this problem on Windows.
By the [this response](https://github.com/electron-userland/electron-builder/issues/696#issuecomment-242902999) on electron-builder (tool used to generate the installers). Seems it is not a problem. Actually it is the common behaviour for Windows installation using [Squirrel.Windows](https://github.com

[2016-09-19 11:29] maxcnunes commented on #233
I have realized it before too. It occurs sometimes :cry:

[2016-09-19 18:44] maxcnunes opened #234 "Sometimes executing a selected query it wipes the other queries in the same box"
I guess it usually occurs if the query fail.

[2016-09-20 19:00] geekgonecrazy commented on #229
@eMerzh thanks for the quick fix!  👍

[2016-09-20 23:47] #226 closed

[2016-09-20 23:56] #191 closed

[2016-09-21 00:03] #234 closed

[2016-09-21 00:15] maxcnunes opened #236 "Tabs component does not work well with too many open tabs"
It makes the whole window to scroll horizontally when the there too many open tabs.
Would be better if it break down in multiple rows or add a "inner" horizontal scroll in the component .

I guess the component we are using is deprecated. Probably would be a good time to replace it with a new component.

[2016-09-21 01:13] #209 closed

[2016-09-22 19:59] eMerzh opened #238 "Support Running multiple queries in separated tabs"
for the the query tabs are a little fucked up,
if you try to open two tabs, and run "long enough" query that you can switch tab, you exposes yourself to messed up data..
like data coming from other tabs, or infinite loading data results, ....

[2016-09-22 20:53] #233 closed

[2016-09-23 19:22] eMerzh commented on #227
might not be the case for all database,
not sure PG extract all indexes, ...

@dbkaplun what is your DB exactly?

[2016-09-23 19:30] dbkaplun commented on #227
[code]

[2016-09-27 05:53] troycroz commented on #199
Worth noting this can be avoided by aliasing the resulting columns.

For example, this suffers from the bug:
SELECT AVG(ID), AVG(COST)

But this does not:
SELECT AVG(id) avg_id, AVG(cost) avg_cost

[2016-09-29 14:07] adifaidz opened #242 "Mysql tables not showing properly"
Hi, I just downloaded sqlectron and was working with Microsoft SQL Server databases. Now I want to connect to MySQL databases. The result I had was, the dropdown icon just spawns another query window and not listing the tables. Is this intended for MySQL database?

[2016-09-29 14:22] maxcnunes commented on #242
Sorry, I could not understand well what is going on. Could you include some schreenshots?

[2016-09-29 14:32] adifaidz commented on #242
I clicked on the arrow icon at the left side of the db name but it only opened a new query window and not showing the list tables in the database.

Here is a result of me clicking the arrow icon

![image](https://cloud.githubusercontent.com/assets/12843519/18958131/33d52650-8694-11e6-88ba-7c47c6cf72e0.png)

[2016-09-29 15:06] adifaidz commented on #242
I think its just a bug that the tables are not displaying, because when I opened the dev tools, the under the list had

`style="display:none"`

![image](https://cloud.githubusercontent.com/assets/12843519/18959574/44f65e40-8699-11e6-9b84-ea87ceef916d.png)

[2016-09-29 16:39] maxcnunes commented on #242
Ok. But that is weird because it is working for me. Clicking twice over a database name or once over the arrow should connect to that database (if it is not connected yet) and toggle its metadata information (tables, views and etc.). I'm testing it on Linux right now. Only if it is a problem on Windows. But we have not changed anything related to that in the last releases. So should still working

[2016-09-30 02:10] adifaidz commented on #242
Welp... Im expecting it to also work for MySQL, considering my Microsoft SQL Server connections are working correctly and showing the all the metadata.

[2016-09-30 03:52] Fakhrulzaki94 commented on #242
I have same issue on the mysql windows. please help me :/

[2016-09-30 10:06] maxcnunes commented on #242
I will download a vm with Windows and check it out.

[2016-10-02 22:37] maxcnunes commented on #242
@adifaidz I have tested on Windows 10 and it is working properly. I guess I have seen this problem before when the user didn't have permissions to the tables of the database. Could you check if that is not your case?

[2016-10-03 02:02] maxcnunes commented on #236
https://github.com/sqlectron/sqlectron-gui/commit/70a4a6d9038abadace5bd1ce4d4b91b07259e15c close it.

[2016-10-03 02:02] #236 closed

[2016-10-03 03:31] adifaidz commented on #242
Okay, will try later 😃

[2016-10-03 10:51] adifaidz commented on #242
I'm currently using root as the user, and i tried to check the permissions.

It should be fine with this result right?

[code]

Currently with this settings, it still won't work  -.-

[2016-10-03 11:30] maxcnunes commented on #242
Is your connection localhost or is it running in other machine?
If it is in other server you should need something like this:
[code]
But if you are able to connect with those grants I guess your DB is in the localhost.

I'm running out of ideas. Could you check if the there is some message in the console tab on the Developer tools?

[2016-10-03 21:14] adifaidz commented on #242
Running in localhost, and nothing in the console tab. The only thing I saw was an error when I test the connection. :disappointed:

![image](https://cloud.githubusercontent.com/assets/12843519/19054290/5286b9e6-89f1-11e6-86b9-66c698aee8ae.png)

[2016-10-03 21:20] eMerzh commented on #242
@adifaidz if you remove the display none, you see the tables that you want ?
is it the same with information_schema  ?

[2016-10-04 02:17] adifaidz commented on #242
information_schema was empty :confused:

![image](https://cloud.githubusercontent.com/assets/12843519/19060550/aee1aa8c-8a1b-11e6-81db-287a386719a4.png)

[2016-10-04 08:02] borisrorsvort opened #246 "Inline edits"
I believe inline edits from the table or preview is a must for a db client. Is this something that is on the roadmap?

[2016-10-04 15:01] geekgonecrazy opened #247 "Configurable timeout"
Database type: mssql

I've got a logging table I have to query from time to time that can take up to 5 minutes or so to respond.   With sqlectron it times out before I get results.

![image](https://cloud.githubusercontent.com/assets/51996/19079477/5d2b9fb0-8a19-11e6-9520-dc6c1a437a5b.png)

I was unable to find any place to configure this, is this something that could be added?

[2016-10-04 19:34] eMerzh commented on #247
hum... I'm not aware of timeout ... but if there are some,  i really don't see why...

[2016-10-04 19:35] geekgonecrazy commented on #247
@eMerzh yeah 15 seconds is really, really short in my experience.  Maybe others are lucky to work with small data sets :smile:

[2016-10-04 19:41] eMerzh commented on #247
seems to be related to mssql,

in pgsql and mysql:
[code]
doesn't seems to trigger the issue.

[2016-10-04 19:47] eMerzh commented on #247
ok, the sqlectron-core's mssql driver has a default timeout of 15000ms

[2016-10-04 20:21] eMerzh commented on #242
@adifaidz not really sure, but i've heard weirdness in mysql if tables are not "flushed"...

could you try to:
[code]
?

and what if you do a custom query with
[code]

or
[code]

?

[2016-10-04 21:54] maxcnunes commented on #247
The only problem I see nowadays is that is not possible to cancel a on going query. So with a infinity timeout you could get stuck in a really long query. But since we have plans to add support at some point to cancel the query #221. I guess changing the timeout to infinity already is not a problem.

[2016-10-04 21:57] maxcnunes commented on #242
@adifaidz  Is weird that with the `information_schema` database you are able at least to toggle the database. But with the previous databases you weren't.

[2016-10-04 22:05] maxcnunes commented on #246
The main idea for this project is to be a simple DB client. Although many new features I didn't initially think on adding to the project have being add gradually. I won't implement it by myself, because I don't really miss this kind of feature. But a PR is welcome 😄

[2016-10-04 22:06] borisrorsvort commented on #246
Okido, thanks for clarifying :+1:

[2016-10-04 22:06] #246 closed

[2016-10-05 01:55] geekgonecrazy commented on #247
@eMerzh once again you rule 👍  i'll give it a go and see what happens.

[2016-10-05 02:43] adifaidz commented on #242
@maxcnunes I can't toggle the information_schema, I just remove `display:none` to see what's inside. The weird thing is, if I were to connect to a database the metadata can't be toggled but if i remove the `display:none`, I can see the tables and stuff.

[2016-10-05 03:00] adifaidz commented on #242
@eMerzh  I've flushed the database, the information schema is still not showing in the sidebar. For the custom queries, they were successfully ran.

@maxcnunes In this screenshot, the database metadata couldn't be toggled, I remove 'display:none' to show what's inside the list.

As you can see, the database data is loaded, but maybe the click event to expand the metadata was not triggering. As for

[2016-10-05 06:36] eMerzh commented on #247
i think i can close this then....

[2016-10-05 06:36] #247 closed

[2016-10-10 02:55] krainboltgreene opened #251 "Put the active database at the top, possibly highlited"
Because SQLectron shows all databases it's often a bit confusing what database I'm actually talking _too_. This might be because I'm only usually talking to one at a time, but it's still a UI problem.

Here's an example: http://www.giphy.com/gifs/3oz8xPleNGG6EgzbH2

[2016-10-10 03:00] krainboltgreene opened #252 "Like Wagon, utilize lists instead of tabs"
Tabs hide information and there's no way you could ever possibly make tab name reflect the tab content well enough to make tab searching easy. After 6 queries I'm basically hunt-and-pecking my way through tabs.

Wagon, a GUI that has closed down, utilized lists instead of tabs. Here's what we could do for SQLectron:

<img width="1445" alt="screen shot 2016-10-09 at 7 57 11 pm" src="https://cloud.g

[2016-10-10 03:00] krainboltgreene commented on #252
(By the way, I would love to work on this if approved)

[2016-10-10 03:00] krainboltgreene commented on #251
(By the way, I would love to work on this if approved)

[2016-10-10 05:55] BornaP commented on #252
Sure, go ahead, all PR are very welcome! :)

I too agree on tabs naming convention you proposed.

[2016-10-10 05:55] BornaP commented on #251
👍  PR is welcome on this.

[2016-10-10 06:16] krainboltgreene commented on #252
That's great to hear! I'll work on it soon, the data team I work with is super bummed Wagon is gone and they'll love that they can get something better.

[2016-10-10 08:02] BornaP commented on #252
That's even nicer to hear ;)

[2016-10-10 11:53] eMerzh commented on #252
i'm not sure about what was the wagon way...

for me, we clearly have to rework the tabs because, they don't really work,  and doesn't let you multiple connections without creating another window.
But not sure how the list tab work, if i understand correctly is each tab is below one another,  so all always displayed ?

that could also rapidly become a mess no ?

[2016-10-10 12:56] maxcnunes commented on #252
@krainboltgreene it is really nice to hear you are interested in contributing to the project. The idea of replacing the tabs with list seems a good approach. At least with small queries and table results it looks could work really well. Although with the opposite I'm not sure about that. Seems would be even worse because you could not see all the open "tabs" without scrolling the whole page.
So be

[2016-10-12 07:35] MarioBlazek opened #253 "Enable connecting to database without password"
I would be nice if there could be a way to connect to database that have not password set.

I think @BornaP can help :).

Thanks.

[2016-10-12 08:07] BornaP commented on #253
I believe this was enabled in earlier versions. @MarioBlazek tried connecting to MySQL with v1.15 without entering the password. Connection testing went fine, but clicking Connect button failed, which is weird.

[2016-10-12 12:35] maxcnunes commented on #253
I have just tested on v1.15 a connection without password and it worked the test and connect buttons.
![screen shot 2016-10-12 at 09 30 47](https://cloud.githubusercontent.com/assets/680356/19310079/b6210696-905e-11e6-88b5-392bcee5e7dc.png)
![screen shot 2016-10-12 at 09 30 56](https://cloud.githubusercontent.com/assets/680356/19310080/b67df41e-905e-11e6-8187-4e2c6b1d69c4.png)
If either buttons we

[2016-10-12 18:07] abourget commented on #223
would be awesome that the state of last window is saved..

I love that queries are saved to plain-text files.. that's great!

[2016-10-12 18:19] munro opened #254 "Add support for PostgreSQL foreign tables"
Foreign tables created with FDWs currently are not discoverable

[2016-10-12 19:04] maxcnunes commented on #223
I guess we could achieve that by adding support to save the current window state to a folder. Each tab would become a different file. So adding support to open queries from a folder would kind of restore the window state.

[2016-10-12 19:27] maxcnunes commented on #254
I have never used FDWs before. So I have not interest on implementing it by myself. But if someone else is interested on that I am open to discuss about it.

[2016-10-12 20:09] iwozzy opened #255 "No schema information for PostgreSQL database"
I've connected to two different PostgreSQL databases. For both of them I couldn't see any tables. One was hosted by ElephantSQL and the other was a Redshift instance.

I've tried the above with v1.15.0 as well as v.1.7.0 and the results were the same.

![image](https://cloud.githubusercontent.com/assets/4137844/19325788/98a915ea-907c-11e6-836f-a7fcd5e6f772.png)

I've also connected to one of the d

[2016-10-12 21:07] maxcnunes commented on #255
@eMerzh has added schema support for good part of the app. But we have not released those changes yet. @eMerzh do you know if your changes solve this problem?

[2016-10-12 22:47] #202 closed

[2016-10-12 23:26] iwozzy commented on #220
One work around is to go here `%localappdata%\Sqlectron\app-1.15.0` and either pin to taskbar or pin to start the `Sqlectron.exe`

[2016-10-13 07:38] #253 closed

[2016-10-13 08:53] eMerzh commented on #255
@maxcnunes the change might help a bit but won't fix the issue...
because it's not yet included in -gui ...
we need to add a schema selection in the connection or in the browser somewhere ...
didn't had too much time these days but i'll try to add it at the connection level since in the browser there is a lot more to change ....

Btw i'll close this as it's a duplicate of  #153

[2016-10-13 08:53] #255 closed

[2016-10-13 16:16] abourget commented on #153
Splitting views per schema is a little tricky though, we have cross-schema queries and it'd be annoying not to have completion between schemas too... why not simply list the tables in the `Tables` view, prefixed with their `schema` ?

The search in there could help us navigate.. it does a great job at it.

[2016-10-14 14:05] rzylber opened #258 "Entering password only when connecting to database"
Can the application request the password only when I'm trying to connect to the database. I can't save passwords, but I need to enter them when connecting. Is it possible?

[2016-10-14 15:17] maxcnunes commented on #258
That is something we have not implemented yet. But seems it is an important feature for the app. If you are interested on implementing it please send a PR. Otherwise I can do that once I have more free time available.

[2016-10-14 17:45] rzylber commented on #258
Ok @maxcnunes ! I'll try to implement this feature and send a PR.
Thanks!

[2016-10-18 20:13] ahrherrera opened #260 "Showing bit value on mysql table"
my table contains a BIT value, the database is on MySQL, at querying its does not show as 1 or 0.

![screen](https://cloud.githubusercontent.com/assets/15525993/19494562/f77df922-953c-11e6-88d7-14333dd5c678.png)

[2016-10-18 21:09] maxcnunes commented on #260
Probably it is showing the raw structure type. I guess the data field contains the bit value.

[2016-10-19 04:15] jaykilleen commented on #213
@maxcnunes as a workaround, would modifying the `.sqlectron.json` work to specify the domain? Another issue I am trying to figure out is specifying whether it is windows authentication or username and password. Hoping the modification of `.sqlectrion.json` would also address this. I'll take a look at the node-mmsql for guidance on this.

Thanks also, this project looks very interesting and I appre

[2016-10-19 08:47] maxcnunes commented on #213
@jaykilleen thanks. I appreciate the feedback :)

Even changing the `.sqlectron.json` manually it would no work because sqlectron-core would not include this property in the connection configuration.
About your issue, this is what node-mmsql describes about the domain:

If it helps you, here is an example how probably the connection string would look like with the domain.
https://github.com/patrik

[2016-10-23 16:27] grantjames opened #261 "Schema and table list enhancements"
I've just discovered Sqlectron and I really like it - I have a small suggestion to make regarding the schema/table list, though.

I think it makes sense to be able to expand/collapse the tables/views/functions list under a schema by just single clicking. It works like this for each of the sub items so it'd also be more consistent.

Is there a reason why it doesn't work like this currently? I'm loo

[2016-10-23 18:48] maxcnunes commented on #261
I'm glad you liked the app :)

This issue was discussed before here https://github.com/sqlectron/sqlectron-gui/issues/133.
Then everybody agreed we would follow this behaviour https://github.com/sqlectron/sqlectron-gui/issues/133#issuecomment-217306706.
But some time ago @eMerzh sent a PR to change it https://github.com/sqlectron/sqlectron-gui/pull/250. And again we decided to keep as it is nowada

[2016-10-23 19:14] maxcnunes commented on #261
I have just remembered I am changing the way the connections work due https://github.com/sqlectron/sqlectron-gui/issues/238 and https://github.com/sqlectron/sqlectron-gui/issues/224. After those changes, opening the database actually will not keep a connection open but instead will create a pool of connections. Using a pool of connection is better because the pool kills the idle connections automa

[2016-10-24 07:37] jmealo commented on #227
**For views, materialized views and functions:**
https://github.com/postgres/postgres/blob/55c3391d1e6a201b5b891781d21fe682a8c64fe6/src/bin/psql/command.c#L3338

**For tables:**
http://stackoverflow.com/a/16154183/1337301

**Note about ``serial`` and ``bigserial``:**
[code]
(If a column has a default value that with a ``nextval`` incrementing a sequence whose name matches the ``tablename_columname

[2016-10-24 09:42] maxcnunes commented on #227
Thanks @jmealo for the details. Anyone interested on improving that please do. Here is the code we use nowadays to build the "Create Script": https://github.com/sqlectron/sqlectron-core/blob/master/src/db/clients/postgresql.js#L273

[2016-10-25 17:29] airdrik commented on #213
I'd certainly be willing to help test out the changes.  Let me know when you have something, of if you have some pointers for where to make the changes myself.

[2016-10-28 21:44] krainboltgreene opened #262 "The sidebar isn't very useful with production Heroku access"
I can't quite show you what I mean, but currently when I connect directly to one database that happens to be on heroku the sidebar shows a list of the 140 databases, all with sluglike names (i.e. `d14b9ss239j9f`). It slows down the entire application.

What's the vision/concept behind this UI and is it really need to be a default-on component?

[2016-10-28 21:45] krainboltgreene commented on #262
Since I only have credentials for one database I can't even access any of the other stores and there's no indication which store is mine. I'll see about rushing #251

[2016-10-28 23:23] maxcnunes commented on #262
Well the concept behind the sidebar is list all available dbs for the connected server. With the current app what you could do is filter by the db name. This should improve the performance and let you focus your current working database. At least I'm used to do that.

[2016-10-28 23:55] krainboltgreene commented on #262
It still slows down the application for some reason, and filtering is annoying considering the database name.

Is there a particular value to showing *all* databases when you connect to a specific database?

[2016-10-29 11:44] maxcnunes commented on #262
Sorry, I thought that would improve the performance. Actually there is a PR to improve the performance in the sidebar for large list of databases https://github.com/sqlectron/sqlectron-gui/pull/200. But that PR had some UI problems and has never been merged.

In my case I work a lot with micro services. So in my daily job I usually have to access many DBs from the same server at same time. A list

[2016-10-29 20:48] krainboltgreene commented on #262
That makes a lot of sense. I wonder if there's a middle ground here that doesn't involve a checkbox. I'll play around with some ideas. I appreciate the insight!

[2016-11-02 17:02] joshferrell opened #263 "When connecting to a ms sql db, loading tables takes a long time"
I'm currently trying to connect to one my ms sql servers. This server has a bunch of databases with a lot of tables. I'm unable to expand any of the databases, and the bottom of the app just flashes "loading list of tables."

My theory is that because this server has a lot of tables, it's trying to load **all** of the tables at once in the server. If this is the case, this should be looked into be

[2016-11-02 19:41] maxcnunes commented on #263
Nowadays when you connect to a server, you connect to a specific database. Once you are connected to that server then you are able to connect to the other databases in that server. The tables for each database are only fetched once you connect to that database. If the database your are connecting has a really large number of tables than it can really be a performance problem. Could you confirm how

[2016-11-02 20:30] blackPantherOS opened #264 "Can't connect localhost MySql (mariadb) on localhost"
mysql -p command and phpmyadmin working fine on 'localhost' as host

but I can't connect to same server with sqlelectron-gui  or sqlectron-core with 'localhost' (not 127.0.0.1)

Error message: Error: connect ECONNREFUSED 127.0.0.1:3306

(ignored 'localhost' as hostname)

[2016-11-02 20:51] maxcnunes commented on #264
Really? That should work just as fine as the other clients. Probably the error message shows IP instead of the domain because once the DNS server resolve the domain name it uses the IP to connect. Are the mysql and phpmyadmin clients running in the same machine of the sqlectron? Are you sure your mysql server is running in your host machine?

[2016-11-02 21:46] blackPantherOS commented on #264
Yes, the phpmyadmin running on localhost and working.. The commandline as well:

But access not enabled on 127.0.0.1:

Your applcation not accept the **'localhost'** as hostname, triggered to 127.0.0.1

[2016-11-03 19:59] seep opened #265 "Hidden config file on Windows breaks the application."
This is an odd one. Marking the `.sqlectron.json` file as hidden in Windows prevents the GUI from reading/parsing/displaying it's saved connections, and from creating new connections. I'm not sure where the error is happening, and nothing is logged to the console in the dev tools. I also tried poking around with Node a little to see if the `fs.stat` signature changes or returns an error for hidden

[2016-11-03 23:06] felipetoffolo1 opened #266 "List table indexes"
I noticed that Sqlectron does not list indexes of a table, just columns and triggers.
I think it would be a good feature, and im using Sqlectron, so i want to help.
Are you interested?

[2016-11-04 14:19] maxcnunes commented on #266
Yes. That would be great. Please go for it. Let me know if you need any help.

[2016-11-05 09:46] maxcnunes commented on #265
Yeah that is weird. I will try to check it out once I have some free time. Thanks for reporting the issue.

[2016-11-05 10:13] maxcnunes commented on #264
We pass ahead the hostname exactly as it was typed in the form to the mysql driver https://github.com/mysqljs/mysql. So it should accept any hostname.

Maybe is not possible to connect to a Maria DB through the Mysql support. Then would require using the proper maria db driver for that https://github.com/mscdex/node-mariasql.
I will try test it later.

But I am curious how you are able to connect

[2016-11-05 22:54] maxcnunes commented on #264
@blackPantherOS are you using ssh tunnel? I just realized we use a fixed host for ssh tunnel https://github.com/sqlectron/sqlectron-core/blob/master/src/utils.js#L68. It may could be the reason for your problem.

[2016-11-06 00:24] #221 closed

[2016-11-06 00:40] maxcnunes commented on #238
I added support for this on https://github.com/sqlectron/sqlectron-core/releases/tag/v7.1.0.
But still have to change the GUI to work properly. I'm a bit tired to implement it right now. So if anyone is interested in helping with that let me know and I can give some ideas of how to do it.

[2016-11-06 01:14] #213 closed

[2016-11-06 01:20] maxcnunes commented on #265
I thought I would have time to investigate it. But I don't :( If someone else has interest in doing that. Please do.

[2016-11-06 01:39] #264 closed

[2016-11-08 00:30] joshferrell commented on #263
Sorry for the late response,

I'm not able to see how many tables it has, but I am selecting a specific database to login to as part of my connection. However, instead of logging into a specific database, it logs into all tables that user has access to.

[2016-11-08 00:41] maxcnunes commented on #263
Actually it logs to a single DB. It only shows the other databases available in the sidebar. But you are not connected to them. I have changed in the last version to use different database color background:

* transparent: not connected DBs
* blue: connected DBs
* yellow: current connected DB which the current query tab is related with

Seems this issue is a bit related to this one https://github.

[2016-11-08 16:30] joshferrell commented on #263
Ah, this makes it a lot more clear as to what's attempting to connect.

It appears that the database I'm attempting to connect to is what's being loaded; however, that database is unable to load the list of tables. I'm able to query the table, so I know it's not a permissions issue or connection issue. It looks almost like it's infinitely refreshing the table the way the loading list of tables mes

[2016-11-08 16:39] maxcnunes commented on #263
Is this problem similar to this one? https://github.com/sqlectron/sqlectron-gui/issues/242

[2016-11-10 10:40] khusnutdinov opened #269 "Autocomplete doesn't work after new tab opened (mariadb, ubuntu 16.10)"

[2016-11-15 19:14] bjhansen-ualr opened #270 "Close connection button does not work when connected to MS SQL"
I only have this issue when I'm connected to an MS SQL server.

Upon clicking the button the Dev Tools report this error:
`Uncaught Error: Could not call remote function 'end'. Check that the function signature is correct. Underlying error: conn.close is not a function
Error: Could not call remote function 'end'. Check that the function signature is correct. Underlying error: conn.close is not a f

[2016-11-17 09:58] maxcnunes commented on #270
Hi @bjhansen-ualr, thanks for report the problem. My fault, I will fix that once I get some free time.

[2016-11-17 15:46] airdrik commented on #213
I just downloaded and tested sqlectron 1.17 which advertises the ability to specify the windows domain, and it works!

Thank you.

[2016-11-17 17:19] donspaulding opened #271 "Can't connect to Redshift"
Hi there,

I'm loving using Sqlectron for connecting to my Postgres databases, but it's still not working great for Redshift databases yet.  In previous versions, it would connect but not be able to get results, and I think this is related to the schema work that's talked about in https://github.com/sqlectron/sqlectron-gui/issues/153  However, in 1.17.0, there seems to be a regression where it can

[2016-11-17 17:24] maxcnunes commented on #271
Was included the **application_name** in the postgres connection. So it is easier to find out a process running on PG from sqlectron. I had not realized it was not available in previous versions. I will change the code to use that property only in the versions with support for that.

[2016-11-28 23:28] iwozzy commented on #271
Happy to help troubleshoot as needed! Really looking forward to connecting to Redshift with Sqlectron :)

[2016-12-08 13:51] marvinrichter commented on #223
The problem @jbencina describes does not have to do with saving the current state of a window.

The problem is, that the GUI does provide a way (and even a shortcut, ctrl+s) to save the query of a Tab as a *.sql file but it doesn't allow to open such a file.

So the feature would be to have the option (and maybe a shortcut, e.g. ctrl+o) for open any *.sql file as a new Tab.

[2016-12-08 14:34] marvinrichter opened #273 "Add possibility to just execute query at current selector"
It would be nice to just execute the Query at the current selector position.

This is currently possible with the combination of CTRL+L & CTRL+ENTER but only if the Query is a one-liner.

I would even go as far as using CTRL+ENTER to reflect this behavior and maybe CTRL+SHIFT+ENTER to execute the whole Script.

[2016-12-08 14:40] BornaP commented on #223
@marvinrichter You're right about that, but Max and abourget were talking about saving whole state of lastly opened window, which is another feature.

I'll try to implement opening query from file option (with a shortcut too) as soon as I catch some time. Hopefully this weekend.

[2016-12-08 14:40] marvinrichter opened #274 "Tabs are loosing state when switching between them"
Currently Tabs are loosing state like scroll position in result, size of query frame and size of column width when switching between them.

This is quite painful when you have to switch between them very often.

[2016-12-08 19:19] iwozzy commented on #271
Getting this to work would be huge! Accessing Redshift right now is a pain :(

[2016-12-08 21:52] maxcnunes commented on #273
Although I think it is a very interesting and useful feature.We will not be able to implement that. Because we would need to have an [AST](https://en.wikipedia.org/wiki/Abstract_syntax_tree) for SQL and this should work as well for every DB we have support. So we would know for sure where the current query start and finish. Nowadays there isn't a library that has support for that. And implementing

[2016-12-09 21:41] maxcnunes commented on #271
Ok. I will try fix that this weekend.

[2016-12-10 00:32] bkjohnson opened #275 "Feature: GUI for managing table structure"
Right now the GUI only shows me tables and columns and allows me to run my own queries, but it would be great if there was an interface for managing foreign keys, primary keys, default column values, etc.  I think it could start out as something fairly simple, like right clicking a table could give you a context menu:

[code]

And right clicking a column could bring up a different context menu:

[

[2016-12-11 10:50] BornaP commented on #275
There is already something similar, when you click on a table you get a context menu with automatically generated scripts for altering the table. I considered enhancing it with additional features you mentioned, but was never really high priority. Since there are examples in a code how to make context menu, and how to generate custom SQL scripts in sqlectron-core, I highly encourage you to try imp

[2016-12-11 19:34] maxcnunes commented on #271
Fixed the problem with the **application_name**. New release available https://github.com/sqlectron/sqlectron-gui/releases/tag/v1.18.0.

[2016-12-11 19:34] #271 closed

[2016-12-11 23:50] iwozzy commented on #271
Thanks so much! It connects now.
However I am not able to query anything. It doesn't show any tables on the left hand side, and querying doesn't return any results.
![image](https://cloud.githubusercontent.com/assets/4137844/21084509/8a42dc9a-bfb9-11e6-9f1e-c850d7b336fb.png)

[2016-12-12 00:40] maxcnunes commented on #271
Probably your public schema is empty. And you are trying to access a db/table from a different schema. Unfortunately we do not support different schemas yet. Although there is a PR open to solve part of this problem. What you can do for now to at least be able to execute the query I guess is change the current schema inside the query http://stackoverflow.com/a/25014153/1050818.

[2016-12-12 00:41] bkanuka opened #276 "HiDPI support"
I have a laptop with a high resolution display. For GUI programs to be usable, they need to be scaled to about 150% or greater. I would love an option to zoom in or scale the interface (maybe there's a way of reading this from the GUI?).

In the meantime, there may be a way to scale with a custom CSS.

[2016-12-12 00:55] maxcnunes commented on #276
Nowadays is  only possible to increase the size of the fonts inside the query box. Any other kind of zoom is not available yet. But looking into the electron API seems it is simple to achieve https://github.com/electron/electron/blob/master/docs/api/web-frame.md#webframe.
I can't work on that. But I would glad help if you are interested in do a PR for that.

[2016-12-12 04:38] iwozzy commented on #271
Yes, that's right :( That would be amazing.
I've tried various combinations of what that post suggests but I can't get it to return any data. It's always no results found, although the column names are correct.
Any ideas?
![image](https://cloud.githubusercontent.com/assets/4137844/21088181/bbfddb90-bfe1-11e6-9a21-7dffd8747f07.png)

[2016-12-12 10:20] maxcnunes commented on #271
I just realized that will not work :( Because each statement is executed separated. So the second statement will be executed with the default schema.
I will try this week to merge this PR, so is possible to define the default schema https://github.com/sqlectron/sqlectron-gui/pull/257.

[2016-12-12 19:43] neal-morgansolar commented on #220
I'm also seeing the same behaviour. No desktop or start menu shortcut created. I know that I can create a shortcut manually from the `Appdata\Local\Sqlectron` dir, but how will this shortcut stay up to date when the application is updated?

[2016-12-16 09:53] rrbarbosa opened #277 "Feature: query history"
It would be nice if we could store our query history per server. Maybe backed up by a sqlite DB, or something similar. If we agree on the basic functionality, I could help with development.

[2016-12-20 20:06] maxcnunes commented on #277
The app already has initial support for that. Every executed query is stored in memory. I had implemented that thinking in finishing this in the future. But I never got the time to finish that.
Here is the code where the query is stored after been executed: https://github.com/sqlectron/sqlectron-gui/blob/master/src/renderer/reducers/queries.js#L60
I thought it could have like a select element that

[2016-12-21 15:39] bkjohnson commented on #275
Sorry for the late reply, I've been very busy lately.  I should have some free time in the next two weeks or so, so I'll work on a PR.

[2016-12-21 19:07] blakek opened #278 "Change keybinding for window reload (⌘R) or change window reload behavior"
Note: this is not a bug, and I would be happy to make a PR, but I wanted to see if anyone else had the same issue first.  This is more for an open discussion.

I came to Sqlectron from using a handful of DB clients together for different needs.  Some of those clients I used (Sequel Pro comes to mind) use ⌘R as the keybinding to run a query.  With this muscle-memory, I am constantly hitting the com

[2016-12-21 21:54] maxcnunes commented on #278
I guess we could just remove the short key for the window reload. That is more used in development environment at least. I'm ok using that for run the query as well. A PR for that would be awesome :)

[2016-12-24 12:27] eMerzh commented on #278
hey i'm also often annoyed by this,
and as in dev we have the save-reload mechanism, i'm in favor in replacing the ⌘R behavior

[2016-12-28 09:06] rrbarbosa commented on #277
No, ideally I would like to keep history per server, so they are persisted over sessions. Other clients, like Postico or Sequel Pro have a button on the UI that allows you to view and search past queries, a little like a bash history. What do you think?

I think if we keep the size of the history small, ~100 queries, it should be fine to keep them in plain text.

[2016-12-28 10:40] maxcnunes commented on #277
I think that button would be even better if the user could filter by past queries for only the current tab as well. So the user have access to all queries in that session. But if he want to see only the queries for that current tab he is able to filter that. Could be a different button or just a check `show only queries of current tab`.

[2017-01-03 16:16] Ttommeke opened #280 "[GUI] Password fiels to short. Can't login to heroku Postgress"
When i try to login with the Heroku credentials in the Electron GUI, i get an "password authentication failed for user" - Error.

I fixed this by editing the password in the .sqlelectron.json file. I noticed there that only a portion of the password was saved. I guess this is because the password field is limited in characters?

Length of my password 64 characters. only 55 were saved.

[2017-01-03 18:10] krolow commented on #280
https://github.com/sqlectron/sqlectron-gui/blob/master/src/renderer/components/server-modal-form.jsx#L324

@maxcnunes do you see any problem if we increase it to 254/255?

[2017-01-03 21:51] maxcnunes commented on #280
But the problem is also here https://github.com/sqlectron/sqlectron-core/blob/master/src/validators/server.js#L63.

Would need to change those two places. Maybe we should increase the size for the other fields as well. Or maybe even remove the limit.

[2017-01-04 10:15] enVolt commented on #260
Any one is looking into this?

[2017-01-04 21:53] #278 closed

[2017-01-04 22:14] eMerzh commented on #280
yeah i'm in favor of removing them if they don't add any value.

btw, i guess you'll see it , but don't forget also the server password that is limited to 55 char as well
https://github.com/sqlectron/sqlectron-core/blob/master/src/validators/server.js#L114

[2017-01-06 11:50] krolow commented on #280
@Ttommeke would you like to give a try in fix it?

[2017-01-06 11:57] eMerzh commented on #276
wierd ... what kind of HiDPi is it ?
here on my retina i don't experience this kind of issue O_o

[2017-01-06 14:36] bkanuka commented on #276
I'm using Ubuntu.

[2017-01-06 14:53] eMerzh commented on #276
mmh ok, but what is your resolution, pixel density ?

mmh maybe it's a linux related issue.. did not try on linux

[2017-01-07 15:23] #280 closed

[2017-01-07 15:39] #270 closed

[2017-01-07 16:09] #266 closed

[2017-01-08 00:09] Ttommeke commented on #280
Sorry! Guess i'm to late! :/

[2017-01-08 22:40] krolow commented on #280
😂 @maxcnunes was quickly in that one, maybe next time 👍

[2017-01-09 11:31] maxcnunes commented on #273
I was thinking about it and maybe this could be achievable if we improve https://github.com/maxcnunes/sql-query-identifier to also return the query related to the type. So we would know what is the query the current selector is over.

[2017-01-09 12:22] maxcnunes commented on #260
@enVolt I guess nobody is looking into that. Would you like to fix that? I'm almost sure the place to fix that is here https://github.com/sqlectron/sqlectron-gui/blob/master/src/renderer/utils/convert.js#L19.

[2017-01-09 12:29] maxcnunes commented on #199
I have heard few people complain about this problem. Which made them waste few hours because didn't realize the column was duplicated. They gave me an idea of a workaround solution for this problem. While we are not able to prevent the duplicated columns in the result. We could at least show a warning message when there are duplicated columns in the result. At least the user know right away he sho

[2017-01-09 18:56] btmurrell opened #281 "Access DBs through proxy?"
How to configure proxy?  I am behind a corporate firewall.  All we do must go thru proxy. I can connect to localhost pg fine. Trying to connect to pg on remote server fails with

[code]

i have set my typical http_proxy value in my session and launched sqlectron gui from there, but same result.  I don't see any reference doc on configuring proxy.  Atom and VS Code have their own ways of configurin

[2017-01-10 01:22] maxcnunes commented on #281
Hi @btmurrell,

First of all. I'm glad you like the app.

It is the first time someone issue a problem related to proxies.
My first solution would be the `HTTP_PROXY` env variable. But you have already tried that without success. Just checking, have you done some like this?

(OSX)
[code]

What makes this problem more confuse is that the connections does not use HTTP protocol for communications. So

[2017-01-10 17:09] bkanuka commented on #276
My display is 2560x1440 on a 14in laptop. Not crazy, but I'm sure others have higher DPI screens. I use Unity and scale the screen to 1.25.

Screenshots aren't the best tool for showing issues regarding DPI, but compare the size of the text in this bug report, which by many measures would be considered small (smaller than my parents could possibly read!!) to the text in Sqlectron. The "Search" box

[2017-01-11 14:00] maxcnunes commented on #273
Anyone interested in this feature. Please tests your queries (simple and complex) [here](http://maxcnunes.com/sql-query-identifier/) and let me know if there is any bug. If after sometime that is considered stable. Then we can use that to achieve this feature.

[2017-01-11 16:58] btmurrell commented on #281
thanks @maxcnunes.  i forked and will investigate a fix in my proxy world when i have a chance.  i spent a little time on it, but had to stop. running your dev setup was a breeze. kudos.  i ran your npm link script to reference local selectron-core... but could not get the debugger to stop in core.... i see you have top level node_modules and app/node_modules.... any pointers to getting into core

[2017-01-11 21:04] maxcnunes commented on #281
Do you mean debugger from the browser? You will not have access to that code through the browser. Because that is a nodejs code (backend). The code you have access through the browser is just the frontend. There are some ways to allow debug on nodejs. But I have never used that. My debug is `console.log` 😆

[2017-01-12 02:06] btmurrell commented on #281
😁 no worries. yeah, i meant the server side. that's where the pg connect code runs (sqlectron-core), so, if i'm not mistaken, that's where i'd need to step.  i'm comfortable debugging server side thru attaching to port 5858 in various debuggers.... the problem i faced is that even tho i attached, it never stopped inside the connect functions, so i suspect i was loading the wrong code in my debugge

[2017-01-12 18:51] maxcnunes commented on #281
Just to ensure. The code you probably gonna need to debug is:

* **runWithConnection** - `node_modules/sqlectron-core/lib/db/clients/postgresql.js`

If you are using ssh. You may have to debug this one as well:
* `node_modules/sqlectron-core/lib/db/tunnel.js`

[2017-01-14 19:47] #276 closed

[2017-01-14 19:49] maxcnunes commented on #276
To use a different zoom factor. Include this configuration on your `~/.sqlectron.json`:
[code]
*PS:* Still have to wait a new release to use this setting.

[2017-01-17 00:23] maxcnunes commented on #263
@joshferrell I have added support to configure a preload filter for database and schema in the latest version. You have to configure it manually for while in the `.sqlectron.json`. That configuration should avoid this problem since you will be able to load only the database/schema that are useful for you.

[2017-01-17 00:23] #263 closed

[2017-01-17 00:28] maxcnunes commented on #262
@krainboltgreene  I have added support to configure a preload filter for database and schema in https://github.com/sqlectron/sqlectron-gui/releases/tag/v1.19.0. You have to configure it manually for while in the `.sqlectron.json`. With that configuration you will be able to load only the database/schema which are useful for you and by that improve the usability on large servers like Heroku.

[2017-01-17 00:28] #262 closed

[2017-01-17 00:32] maxcnunes commented on #251
I have add the preload filter support on v1.19.0 and background database in some previous version:

* transparent: not connected DBs
* blue: connected DBs
* yellow: current connected DB which the current query tab is related with

With those features. Does it issue still something we want to do? Or can I close it?

[2017-01-17 00:33] maxcnunes commented on #215
Done on https://github.com/sqlectron/sqlectron-gui/releases/tag/v1.19.0

[2017-01-17 00:33] #215 closed

[2017-01-17 00:35] maxcnunes commented on #153
Done on https://github.com/sqlectron/sqlectron-gui/releases/tag/v1.19.0

[2017-01-17 00:35] #153 closed

[2017-01-17 00:35] krainboltgreene commented on #251
I feel good about it.

[2017-01-17 00:35] #251 closed

[2017-01-17 10:22] tyx opened #282 "Tunnel SSH with passphrase seems not working at first try"
Hello !

I'm giving a try to your app. Looks great but I had difficulties to connect to my prod db through SSH.

DB : Mysql
Sqlectron : 1.19
OS : Ubuntu 16.04

I got this error :
![](https://sc-cdn.scaleengine.net/i/5374bbad8f954c8feaa83c2db500439b.png)

In fact I was unabled to check the passphrase checkbox until I save my connection and edit it again.

Then I  click on connect, sqlectron ask my

[2017-01-17 13:10] maxcnunes commented on #282
Fixed the problem on saving the passphrase checkbox.
The problem in the connection I need a bit more time to investigate that since I need to prepare a VM to test that.

[2017-01-17 14:06] tyx commented on #282
Thanks !

Let me know if I can help you by testing anything

[2017-01-17 14:11] maxcnunes commented on #282
Could you check if with the password saved is possible to connect?

[2017-01-17 14:18] tyx commented on #282
Yes I already try. The passphrase and the mysql password are right !

[2017-01-17 21:20] blakek commented on #263
Not sure if this is related or new issue: I seem to be having a similar issue only on MSSQL servers, and I only noticed this issue after moving from v1.18.0 to v1.19.0.

The sidebar list of tables never loads.  The "Loading list of tables..." text is flickering while it seems to try to connect to the server.  There are no errors in the developer console.  Running `select table_name from informatio

[2017-01-17 21:44] eMerzh opened #283 "prevent crash when doing big query"
hi all,
i tried to launch a select on a table with 300k rows,
and it seems that sqlelectron doesn't really like that...
it hang ...

maybe we can find something to limit the max number of rows or stmth ?

[2017-01-17 22:08] maxcnunes commented on #283
Looks like it is related to https://github.com/sqlectron/sqlectron-gui/issues/129

[2017-01-18 01:04] timothy-clifford opened #284 "Editor moving the cursor after each keystroke"
After installing v1.19.0 my sql query editor moves the cursor to the end of the query after every keystroke. This is rather annoying when editing a query.

[2017-01-18 07:07] eMerzh commented on #283
Arg ... Sorry for the duplicate

[2017-01-18 07:07] #283 closed

[2017-01-19 08:22] terrywh opened #285 ""Select Rows (with limit)" for large field ( text/ blob) cause sqlectron to freeze"
"Select Rows (with limit)" query for large field ( text/ blob) cause sqlectron to freeze.

maybe add some feature like in heidisql (http://heidisql.com) to  "LEFT(`field`)" ?

[2017-01-19 09:30] eMerzh commented on #285
yes.... i think it's somewhat related to #129 but in another fashion ...
not really sure how we can auto fix this ...

[2017-01-19 10:20] terrywh commented on #285
query for the table schema, and do the ``LEFT(`field`)`` on field with length greater than 1024 ?

[2017-01-19 11:07] pyrech commented on #282
I'm getting the same issue since a few weeks. After filling the passphrase and clicking enter, the connection seems to work as I briefly get the right display of my remote server (with its databases listing and the textarea to write query). But straight after (in less than a second, I needed  to make a screenshot to visualize this interface ^^) I'm getting back to the server listing.

DB : Mysql
S

[2017-01-19 12:03] maxcnunes commented on #263
@blakek, I don't believe that issue is related to this one. Could you open it a new issue? I have some comments about it. But would like to keep it organized in the new issue. Thanks.

[2017-01-19 12:25] maxcnunes commented on #285
@terrywh If you include a limit of 100 for that table, does it still freezing? If it still freezing than is not directly related to #129. But could be related to #174, although in this case is text/blob instead of JSON. The `LEFT` (for mssql, other clients use different keyword) command could definitely help. This looks a good and easy solution. But I would prefer to see this in a different menu i

[2017-01-19 12:26] maxcnunes commented on #284
What is your OS? I don't see this happening on MacOS.

[2017-01-19 13:37] blakek commented on #263
@maxcnunes will do, thanks!

[2017-01-19 13:41] blakek opened #286 "MSSQL not showing table list in sidebar. Always says "Loading list of tables...""
I am having an issue only on MSSQL servers, and I only noticed this issue after moving from v1.18.0 to v1.19.0.

The sidebar list of tables never loads.  The "Loading list of tables..." text is flickering while it seems to try to connect to the server.  There are no errors in the developer console.  Running `select table_name from information_schema.tables` works as expected, and querying the tabl

[2017-01-19 14:27] maxcnunes commented on #286
I have tested it and is working in my case. In your case although is not showing any error message I believe the load tables is failing. I will add an option to enable debug which will forward all the logs to file. With that we can understand why that is failing.

[2017-01-19 14:48] maxcnunes commented on #282
I could reproduce the error. I will try get this fixed in the weekend.

[2017-01-20 02:19] timothy-clifford commented on #284
Mac OSX Sierra.
I copied the SQL from a .sql file, pasted in the editor, and then looked to change it.

[2017-01-20 10:11] maxcnunes commented on #284
I thought maybe was because of the copy and past. But I still can't reproduce that. Maybe there is some especial character in that file that is causing it.
Does the problem occur if you past this query below?
[code]

[2017-01-20 15:21] augustowebd commented on #286
I have the same problem.

[2017-01-20 16:42] ignacio-ifm opened #287 "Sqlectron takes over the Ctrl-R shortcut for the whole system"
System: Ubuntu 14.04

When sqlectron is open, Ctrl-R does not work. This is specially annoying in the terminal, where bash by default has Ctrl-R assigned to reverse-search.

The problem goes away as soon as sqlectron is closed.

[2017-01-20 17:11] brunolm commented on #287
I could also replicate the issue on Ubuntu 16.04.

It takes over Ctrl-R, the history lookup in the terminal doesn't work, browser (tested on Chrome/Firefox) refresh doesn't work...

[2017-01-20 17:14] krolow commented on #287
yep it's happening to me as well, I going to give a look 👍

[2017-01-20 18:20] krolow commented on #287
I made a fix, pr is open 👍

[2017-01-21 18:20] bkanuka commented on #276
Thank you! I can confirm that this is fixed.

[2017-01-22 22:48] timothy-clifford commented on #284
Nope - still occurring.
I do have another weird thing which may be causing problems: I'm looking at a SQL Server machine and I can see all the DBs fine, but I see a message flashing in the bottom left corner "Loading list of tables...". It seems to have stalled loading the tables for a DB.

[2017-01-22 23:15] maxcnunes commented on #284
So that is probably the reason. There is an issue open for that already https://github.com/sqlectron/sqlectron-gui/issues/286.
I will close it since it looks is duplicated. Let me know if it still happening after that issue is solved.

[2017-01-22 23:15] #284 closed

[2017-01-22 23:19] timothy-clifford commented on #284
OK - thanks.

[2017-01-23 21:05] rsantos opened #290 "SQLite Connection Error Argument 0 must be a string"
When I try connect in database SQLite3, it show the message "Connection Error
Argument 0 must be a string".

![screen shot 2017-01-23 at 19 03 14](https://cloud.githubusercontent.com/assets/138305/22222604/a87bbd10-e19e-11e6-89d1-49a12dbad701.png)

[2017-01-25 15:01] eqxDev opened #291 "[Bug/Got work around]SSH Tunnel cannot enable Passphrase?"
Using SSH Tunnel will not allow me to click the switch to enable the Password box.

[2017-01-26 09:44] eqxDev commented on #291
So I found a fix, if you save it first then edit it you can then tick passphrase.

[2017-01-26 09:46] eqxDev opened #292 "Encoding Too Long."
When connecting to my server getting the error: Encoding too long.

[2017-01-26 10:37] krolow commented on #292
https://github.com/rzcoder/node-rsa/issues/23

are you using the private key?

[2017-01-26 11:34] maxcnunes commented on #291
Sorry. I have fixed that already here https://github.com/sqlectron/sqlectron-gui/issues/282#issuecomment-273150382. I will release a new version with that fix later today.

[2017-01-26 12:51] eqxDev commented on #292
Yes I am, with passphrase enabled. I check as well if its the same one for when I SSH in normally and it is.

[2017-01-26 23:52] maxcnunes commented on #290
You need to pass a database. If you want to use a in memory database is required to set the database as `:memory:`. Maybe you could do that the default database.

[2017-01-27 10:41] maxcnunes commented on #292
Could be this problem maybe? https://github.com/mscdex/ssh2/issues/422

[2017-01-27 10:43] maxcnunes commented on #290
But most of the time you would want to use a local database. Otherwise any change would be lost. For that you just need to pass the path to your database file in the database field.

[2017-01-27 11:16] rsantos commented on #290
thanks @maxcnunes, I understood now. It worked, thanks again.

[2017-01-27 11:29] #290 closed

[2017-01-27 12:03] maxcnunes commented on #286
@blakek or @augustowebd could you download the laster version and send me the log file? https://github.com/sqlectron/sqlectron-gui/blob/master/docs/app/logging.md

**IMPORTANT:** Replace any secret info may have in the logs (e.g. password).

[2017-01-27 12:04] maxcnunes commented on #291
Fixed on 	698230f

[2017-01-27 12:04] #291 closed

[2017-01-27 12:05] #287 closed

[2017-01-27 13:14] eqxDev commented on #292
@maxcnunes that fixed it but created a new issue...

I am connecting though SSH Tunnel using the same setting I use in Sequal Pro so I know it all works.

I connect - Asks for Passphrase - Connecting to database - Bottom left displays connection to database established - But stay on the menu and is unresponsive. A few moments later it crashes saying object destroyed.

[2017-01-27 13:16] tyx commented on #282
Hi,

Unfortunately it still doesn't work. Here is the action I have in the console:
[code]

I guess the `CLOSE_CONNECTION` in the middle is the problem. I'm still available to help on this issue to test anything you need.

[2017-01-27 13:18] maxcnunes commented on #292
Could you please open a new issue for that and maybe include the log as well? https://github.com/sqlectron/sqlectron-gui/blob/master/docs/app/logging.md

Closing it since the original problem has been solved.

[2017-01-27 13:18] #292 closed

[2017-01-27 13:32] maxcnunes commented on #282
These are the problem
[code]
Could you send the `~/.sqlectron.json`? Or at least open those *_FAILURE messages:
![screen shot 2017-01-27 at 11 28 44](https://cloud.githubusercontent.com/assets/680356/22372488/30970b7c-e484-11e6-98c7-851bceed8b0e.png)

[2017-01-27 13:40] tyx commented on #282
Here is the sqlectron.json with sensitive data removed
[code]

but I did not succeed in retrieving failure action again. I have now only:
[code]

I'm keep trying to get back the initial log

[2017-01-27 13:42] maxcnunes commented on #282
Sorry, I said `~/.sqlectron.json` but I meant `~/.sqlectron.log` 😆

[2017-01-27 13:47] tyx commented on #282
I have no `sqlectron.log` anywhere on my disk

[2017-01-27 13:49] maxcnunes commented on #282
You need to enable the logging to file in your `~/.sqlectron.json`

[code]
https://github.com/sqlectron/sqlectron-gui/blob/master/docs/app/logging.md

[2017-01-27 13:52] tyx commented on #282
Ok I get it back !

Here is the failure error
[code]

I will activate the log

[2017-01-27 13:58] tyx commented on #282
Here is the complete log from sqlectron.log

[code]

[2017-01-27 20:06] djbreen7 opened #293 ".sqlectron.json File Not Generated On Install"
I've tried installing on both mac and windows (via parallels) platforms and I get this error both times

ProductName:	Mac OS X
ProductVersion:	10.12.2
BuildVersion:	16C67

![screen shot 2017-01-27 at 1 02 43 pm](https://cloud.githubusercontent.com/assets/13296622/22385693/f11b48ca-e490-11e6-9e5f-b54792a89e89.png)

[2017-01-27 20:12] maxcnunes commented on #293
Probably is something I have changed lately. A workaround for that for now:
[code]

[2017-01-27 21:27] #293 closed

[2017-01-27 21:37] maxcnunes commented on #258
A tip to implement this is follow the same approach of the one used by the ssh passphrase:
https://github.com/sqlectron/sqlectron-gui/search?utf8=%E2%9C%93&q=CONNECTION_REQUIRE_SSH_PASSWORD

[2017-01-28 00:06] #282 closed

[2017-01-28 00:13] maxcnunes commented on #282
@tyx Releasing a fix for that. Let me know if that solves your problem.

[2017-01-28 00:16] maxcnunes commented on #292
@eqxDev I have solved the other bug you have found as well. (fixed with 8dbfac4)

Btw, I also got the `Encoding too long` when I was using a wrong passphrase.

[2017-01-28 00:55] #260 closed

[2017-01-30 08:22] tyx commented on #282
Thank you for your quick support ! It works now ;)

[2017-01-31 09:31] eqxDev opened #294 "Entity display is slow."
I did SELECT * FROM <table> it took about 5 minuets to display and I have 10,545 rows. I was wondering if this could be sped up or a quicker way to view your tables that doesn't take 5 minuets per table.

[2017-02-03 20:57] sapioit opened #295 "Portable (Windows) version?"
Could you, please, have the files for this app for Windows as an archived folder, instead of installer, please?
Many people either do not want or cannot install apps, or would test the app if no installing were to be required. And I'm one of them. Thou' it might be a small percentage of your market, it's still a percentage of the market you're denying access to your app.

[2017-02-06 16:13] brunolm opened #296 "Cannot resize the left menu (database list) it reverts back to the original size"
When I try to increase the left menu size (database list) it resizes back to the original size, it is impossible to resize it.

Windows
v1.20.1

[2017-02-07 13:42] maxcnunes commented on #296
It is working on Mac. Anyone interested on fixing that on Windows please send a PR :)

[2017-02-07 16:39] sseidametov commented on #294
I'm sure, it is mostly render issue. Nice idea to use render cache.
Example https://clusterize.js.org/

[2017-02-08 03:55] ssuhat opened #297 "Edit directly from table row"
I love the UI sqlelectron provide! and I think its the best UI for windows.

It will be great if it support edit row value directly from table instead of running sql update statement.

and support MariaDB  will be great.

[2017-02-10 11:18] eqxDev commented on #294
Is this something I can add?

[2017-02-10 13:12] maxcnunes commented on #294
We already use https://github.com/bvaughn/react-virtualized which should solve the rendering problem. Maybe upgrading to a new version could improve a bit the performance.
I think this part of the code takes a long time to execute https://github.com/sqlectron/sqlectron-gui/blob/49e21224445936625d1e4719a051f778cda541bc/src/renderer/actions/queries.js#L181.
But that is a workaround we need to do. Ot

[2017-02-10 13:16] maxcnunes commented on #297
This improvement has been requested before. Here is my answer for that :) https://github.com/sqlectron/sqlectron-gui/issues/246#issuecomment-251527628

About MariaDB. It should work already by using MySQL client.

[2017-02-12 16:50] #295 closed

[2017-02-12 17:19] sapioit commented on #295
Thanks!

[2017-02-15 17:30] eqxDev commented on #294
@maxcnunes just an idea, add like 500 per page and add ing pagination?

[2017-02-17 12:53] Ramanathan21 opened #298 "ability to wrap content in SQL query editor"
It would be helpful, if we can toggle "wrap contents" in the SQL Query editor. Currently now it's bit hard to keep scrolling horizontly.

[2017-02-22 21:18] digitalfiz opened #299 "Store secrets encrypted somehow"
It would be nice if this app could store secrets in a more secure fashion. Right now they are store in a plaintext json file easily readable by any other application.

[code]

[2017-02-22 21:21] digitalfiz commented on #299
I found the proper place for this issue and then found an issue already create for this at https://github.com/sqlectron/sqlectron-core/issues/39 so closing thise one.

[2017-02-22 21:21] #299 closed

[2017-02-24 09:34] poltergejst opened #300 "Support cyrillic characters in queries"
Now it seems like "�������" in sqlectron.

[2017-02-24 10:36] maxcnunes commented on #300
Where is looking like that? Could you please include a screen shot?

[2017-02-24 10:47] poltergejst commented on #300
![screenshot](https://cloud.githubusercontent.com/assets/26001463/23300692/ea8a8346-fab0-11e6-8f80-9920d8490cc7.png)

[2017-02-24 10:49] maxcnunes commented on #300
Thanks. I will try fix that.

[2017-02-24 10:57] poltergejst commented on #300
Thank you.

[2017-02-27 10:17] dili91 opened #301 "[v1.20.2] CSV, JSON export improvements"
Hi,
in my opinion it would be very nice to have these additional features:
1) export directly to file, instead of simply copying to the clipboard
2) when exporting in CSV, the ability to select a value separator

Thanks

[2017-02-27 18:18] mgutz opened #302 "disable autocompletion?"
This seems like a very useful tool but autocompletion is **terribly** slow. Can it be disabled? I just want to be able execute queries with syntax highlighting.

[2017-02-27 23:44] maxcnunes commented on #302
Hi. Is possible to disable the whole auto complete with `enabledAutoComplete` or just the live auto complete with `enabledLiveAutoComplete`. https://github.com/sqlectron/sqlectron-gui/blob/master/docs/app/configuration-file.md

[2017-02-27 23:44] #302 closed

[2017-03-01 09:30] phoenixweiss opened #303 "Any way to select a local SQLite Database?"
sqlectron-gui
1.20.2 (1.20.2.439)

OS X 10.11.6 (15G1217)

I can't find any possible way to select a local sqlite database stored as file on the local machine.
![db file](https://cloud.githubusercontent.com/assets/3630353/23453627/1ff06fba-fe7a-11e6-862a-3ade07c380fd.png)

The only settings possible to define are: Name, Dtabase Type and Database/Keyspace field
![settings window](https://cloud.gith

[2017-03-01 09:46] maxcnunes commented on #303
Since in SQLite the database is the file itself. You have to set the file
path in "Database" field.
But I agree the UI could be improved. Is the second time I see this
confusion.

On Wed, Mar 1, 2017, 6:30 AM Paul Phönixweiß <notifications@github.com>
wrote:

[2017-03-01 17:11] phoenixweiss commented on #303
Maybe just a button with a file select dialog could solve the confusion?

[2017-03-02 19:38] aneira92 opened #304 "Problem with screen resolution"
On screens of 1920x1080 it looks very small

I use version 1.20.2 on windows 10

[2017-03-02 20:01] eMerzh commented on #304
hi, thanks for your feeback
could you try https://github.com/sqlectron/sqlectron-gui/issues/276#issuecomment-272648331 ?

[2017-03-02 20:18] aneira92 commented on #304
@eMerzh Perfect Thanks, zoomFactor": 1.3 is  perfect for me

[2017-03-02 22:10] #304 closed

[2017-03-07 06:53] inspire22 commented on #246
Yeah I'd call it a must as well :(  If I only had more time to dive into it myself, really love the overall design/philosophy of this project

[2017-03-13 23:43] krainboltgreene commented on #262
So. Much. Better.

[2017-03-16 12:38] Little-Elephant opened #305 "Active tab closing instead of selected"
Steps to reproduce:
1) Connected to DB (MySQL, if it matter)
2) 4 tabs opened.
3) Second tab is active.
4) Press close sign on fourth tab

Result: Second tab closed
Expected result: Fourth tab closed

[2017-03-17 18:09] thureos commented on #296
Same on linux (ElementaryOS ~= Ubuntu 16.04)

[2017-03-20 11:44] di48l069 commented on #301
@dili91 Yes this feature will make my day!!

[2017-03-21 13:23] aackerman opened #306 "An error dialog is displayed when user presses super+w and no window exists"
![screen shot 2017-03-21 at 8 22 37 am](https://cloud.githubusercontent.com/assets/786640/24149160/8d32dcbc-0e0f-11e7-9078-ec08280dbf4b.png)

[2017-03-21 13:31] aackerman opened #307 "Unable to view list of tables for a database when a lot of tables exist"
I connect to a sql server database where surrounding systems dynamically create tables to partition data. The database currently has 18k tables. When I attempt to expand the database to view the tables list in the left-hand column the window essentially becomes unusable.

I can understand that this is not a common case and it may not be a high priority, but it would be nice for sqlectron to be abl

[2017-03-21 14:18] maxcnunes commented on #307
What exactly do you mean by **becomes unusable**?
* The list of tables is too huge and take over the whole sidebar?
* The app become too slow to use?
* Only the scroll in the sidebar is too slow to use?

[2017-03-21 15:25] aackerman commented on #307
Unable to scroll sidebar, dozens of second delays to click any links, dozens of second delays to type into sql editor.

[2017-03-23 08:48] pyrexed opened #308 "Sidebar keeps resetting its width"
When using the double ended arrow to resize the sidebar width, it keeps restoring its width to the original size.
SQLEctron version: 1.20.2
DB version: postgresql-9.5
![sqlectron-bug](https://cloud.githubusercontent.com/assets/23460576/24239325/3316c632-0fb6-11e7-9d73-e507d1abe98d.gif)

[2017-03-23 09:54] maxcnunes commented on #308
What is the OS you are using?

[2017-03-23 15:27] pyrexed commented on #308
Yeah sorry, forgot to mention: Windows 7.
Also noting, used the dev-tools modified the style:"width" to an arbitrary number and it stayed that way. I believe its something to do with the react-resizeable-handle.

[2017-03-23 16:25] nirmaljpatel opened #309 "Unable to open Stored Procedures on Microsoft SQL Server"
I am able to connect to an Microsoft SQL Server and list the tables and Stored Procedures.

However, nothing happens when I click on a Procedure name.

Right click on a procedure name shows a context menu with "Create Statement" option. However, clicking the same results in no further action.

[2017-03-30 06:57] renewjoy opened #310 "added emacs-mode"
can anyboday add emacs-mode for the sql edit area?

[2017-04-11 17:28] thoma87 commented on #223
Any update on this? Without this functionality I have to open .sql files using a text editor and then paste into  new window. Painful!

[2017-04-11 17:41] thoma87 opened #311 "Cannot switch to fifth tab once created"
**Issue**
With many tabs open, I can only switch to the first four. Tabs five and beyond can be closed and have their titles edited, but clicking them does not switch to them.

**To Replicate**
Open a new SQLectron window.
Create five or more tabs.
Switch to tabs 1-4.
Try to switch to tabs 5+.

[2017-04-12 01:44] bitjson opened #312 "CockroachDB?"
I'd love to see first-class support for [CockroachDB](https://www.cockroachlabs.com/) – CockroachDB supports the PostgreSQL wire protocol, so it should be relatively simple to add support.

[2017-04-19 07:52] BornaP commented on #223
Hey @thoma87 unfortunately no progress on this. Paid job kicked in heavy. I'll try and implement this as soon as possible. If you have time meanwhile, you are more than welcome to make a PR.

[2017-04-20 12:11] lookapanda opened #313 "executingQueries[queryId].execute is not a function"
`executingQueries[queryId].execute is not a function`
I get this error when using a Cassandra database.

[2017-04-24 00:37] tengis commented on #311
I had a little investigation on this issue. So i found where the exact issue is.

Since using **TabList** component inside custom <div>'s it created this issue. And reason behind this **react-tabs**'s count helper only counts **TabList** as a first child if it's not a first child just doesn't count.

Please see link below
https://github.com/reactjs/react-tabs/blob/master/src/helpers/count.js#L7

[2017-04-24 21:33] maxcnunes commented on #313
Query does not have support for [`query().execute()`](https://github.com/sqlectron/sqlectron-gui/blob/master/src/renderer/actions/queries.js#L177). It should use `executeQuery` instead. I will fix it once I have a free time.

[2017-04-24 21:42] maxcnunes commented on #312
If someone is interested on implementing this. Here is the steps in a high level:
1. Duplicate the postgres client - https://github.com/sqlectron/sqlectron-core/blob/master/src/db/clients/postgresql.js
1. Include the new client in the list of supported dbs - https://github.com/sqlectron/sqlectron-core/blob/master/src/db/clients/index.js
1. Ensure the tests are passing - https://github.com/sqlectro

[2017-04-24 21:45] maxcnunes commented on #311
Humm that is bad. I will try take a look on that soon. @tengis thanks for the investigation.

[2017-04-24 21:48] maxcnunes commented on #309
Could you attach the logging for that? https://github.com/sqlectron/sqlectron-gui/blob/master/docs/app/logging.md

[2017-04-26 16:11] nirmaljpatel commented on #309
Added following block to `~/.sqlectorn.json`
[code]

On launching get:
<img width="504" alt="screen shot 2017-04-26 at 11 10 17 am" src="https://cloud.githubusercontent.com/assets/2399818/25444491/f6d1e208-2a70-11e7-9e92-9865f5505d3d.png">

Created a file manually, but same result.
[code]

[2017-05-02 10:32] Kakoum opened #314 ""Cannot read property 'name' of undefined" when i try to connect a psql"
Hello guys,

Your project is awesome, i like it :)
But i have a problem ! My connection with MySQL work good, but when i try connection on POSTGRE on the same server, i have a error "Cannot read property 'name' of undefined".
Here a screenshot of my configuration
![sqlectron](https://cloud.githubusercontent.com/assets/13518319/25614536/9d377ba6-2f32-11e7-8a9e-bb306084e61c.JPG)
I think my configura